[2016-03-26 23:07] linclark opened #10 "Handle console log"
[code]

[2016-03-27 18:38] linclark commented on #10
PR up at #12. Will handle repeats in another issue.

[2016-03-28 18:48] #10 closed

[2016-03-31 01:59] linclark opened #16 "Consolidate new-console-output test head.js files"
The current structure has the tests like this:

- actions
  - head.js
- components
  - head.js
- reducers
  - head.js

We could consolidate the head.js files into a single head file per test type. In order to do this, I believe we would need to register the files with the test harness like [shared-redux-head is](https://dxr.mozilla.org/mozilla-central/source/devtools/client/framework/moz.build#9).

[2016-04-08 23:11] linclark opened #32 "Add support for logging objects"
Currently, console.log() only works for strings. If you try to log an object like window, nothing shows up.

[2016-04-11 20:34] bgrins opened #33 "Add support for console.clear()"
This is being added to the current frontend in https://bugzilla.mozilla.org/show_bug.cgi?id=659625

[2016-04-12 02:07] linclark opened #36 "console.log() calls break any message afterwards"
Now that evaluation results are handled, the return from a console.log is being piped through the `EvaluationResult` component. However, that component only knows how to handle dates. This means it errors out when console.log() returns the evaluation result of `undefined`. Should be easy enough to fix... just need to implement the component to handle it.

[2016-04-12 03:02] linclark commented on #36
Yeah, I had that thought in the back of my mind too. Sounds like a good plan.

[2016-04-12 03:22] linclark commented on #32
I did not mean to close this, but apparently saying "fix #N" in a comment on the PR will close things now.

[2016-04-12 03:23] #36 closed

[2016-04-12 19:00] linclark opened #41 "Implement ObjectWithURL renderer"
Example command: `window`

[code]

[2016-04-13 22:54] linclark opened #43 "Prototype using reps"
Honza has created [reps](https://dxr.mozilla.org/mozilla-central/search?q=path%3Areps&redirect=false&case=true) for use in other tools. We plan to integrate reps in order to [remove variables view](https://bugzilla.mozilla.org/show_bug.cgi?id=1243802).

It might be worth it to skip variables view entirely, depending on how hard it is to get the reps working for what we need. Worth prototyping at l

[2016-04-13 22:55] linclark commented on #41
This might end up being handled by reps. See #43

[2016-04-13 22:58] linclark opened #44 "Add support for console group"
We need to figure out:

- How do we prune groups from the head of the list. The current limit is something like 2000 messages. We may increase this, but there will be some upper bound. Does the whole group get pruned? Our current thinking is that messages get pruned individually until all are gone, but that the group header stays in place. It may include a warning that messages have been pruned fr

[2016-04-13 23:01] linclark opened #45 "Introduce message limit"
We need to have a point at which we start pruning the message list. [Currently](https://dxr.mozilla.org/mozilla-central/source/devtools/client/webconsole/webconsole.js#66) it's 1000.

This should be configurable so that we can change it in tests.

[2016-04-13 23:24] linclark opened #46 "Add a test for tracking performance"
We can track our performance changes over time using a test.

We can do this with the perfherder data boilerplate, as seen in the [awsy-lite test](https://dxr.mozilla.org/mozilla-central/source/mobile/android/tests/browser/chrome/test_awsy_lite.html?from=test_awsy_lite.html) [[issue](https://bugzilla.mozilla.org/show_bug.cgi?id=1233220)] [[try push](https://treeherder.mozilla.org/#/jobs?repo=mozil

[2016-04-14 06:30] nchevobbe commented on #32
@linclark , I think you have one of this in mind for me. Could you mention me when you create an issue I can work on ? Thanks !

[2016-04-14 13:13] linclark opened #47 "Wire up a PageError message type"
So far, we have message types for `consoleAPICall` and `evaluationResult`. Another type of packet we can receive is a `pageError`. Here's an [example of a packet](https://github.com/bgrins/console-output-experiment/blob/master/test/data/mock-messages/ConsoleService.js).

You can see this in action using this URL: `data:text/html;charset=utf-8,<script>asdf</script>`

For this issue, let's just wire

[2016-04-14 13:51] linclark opened #48 "Decide whether to use RDP for testing PageError"
In the short term, we may just want to have `getPacket()` return a mock.

If we want this to use RDP in the long term, it would probably look something like [test_page_errors.html](https://dxr.mozilla.org/mozilla-central/source/devtools/shared/webconsole/test/test_page_errors.html).

[2016-04-14 14:58] linclark commented on #47
FYI, the current page error handling is [here](https://dxr.mozilla.org/mozilla-central/source/devtools/client/webconsole/webconsole.js#1426), and when we were testing out ideas for this project, [this](https://github.com/bgrins/console-output-experiment/blob/master/js/components/Message/Types/ConsoleService.js) is what we had.

[2016-04-14 16:07] linclark commented on #32
@nchevobbe I had been thinking this was a good bug, but I realized we might do this differently based on #43. I filed another one that would be good earlier today, though. I'll be sure to add mentions as I go along, thanks for the suggestion :)

[2016-04-14 20:23] linclark commented on #47
We have a PageError \o/

[2016-04-14 20:23] #47 closed

[2016-04-14 20:32] linclark opened #50 "Add a test for PageError"
PageError landed in #49 \o/

We should add a few tests for it.

1. Add a mock packet in getPackets(). I'd suggest (null, "pageError") as the signature for this one. Eventually we might want to make it possible to get packets using RDP, but a mock should be good for now
2. Test that MessageContainer picks the right child component when that packet is passed in. This can be added in test_message-con

[2016-04-14 21:13] bgrins opened #51 "Make browser toolbox use old frontend"
We check if a pref to let us know it's the BT: https://dxr.mozilla.org/mozilla-central/source/devtools/client/framework/toolbox-process-window.js#57-65.  Before setting SUPER_FRONTEND_EXPERIMENT, we could add a new pref or check an existing one if this is a temporary-only thing (devtools.command-button-noautohide.enabled)

[2016-04-14 21:14] bgrins commented on #51
FWIW you can use browser console now (--jsconsole) to get the old frontend

[2016-04-14 21:14] bgrins commented on #51
Or maybe target.chrome: https://dxr.mozilla.org/mozilla-central/source/devtools/client/framework/target.js#308

[2016-04-14 21:53] linclark opened #52 "Add an icon component"
All of the messages have an icon to show if the message is a log, a warning, etc. You can see examples of the HTML here:

- https://github.com/linclark/webconsole-rdp/blob/master/data/pageError/ReferenceError.html
- https://github.com/linclark/webconsole-rdp/blob/master/data/evaluationResult/Date/new-Date.html

We should have a component that handles this markup.

[code]

[2016-04-14 21:54] linclark commented on #52
@nchevobbe this is another good one

[2016-04-14 22:29] linclark opened #53 "Standardize component imports: either destructure or use dot notation"
Currently some components are imported like this:

[code]

and others are like this:

[code]

Some folks have suggested a standard across devtools... only having 1 export per component file which would look like:

[code]

That would be fine if we had ES6 modules and could export defaults, but still have named exports for helpers. But unfortunately with CJS we can only do either a single (unnamed)

[2016-04-14 23:12] bgrins commented on #53
Works for me

[2016-04-14 23:14] bgrins commented on #33
We'll need to rebase on upstream to get the platform support

[2016-04-14 23:43] linclark commented on #33
What would you think of landing something before we rebase (and doing that soon)? I'm thinking it might be good to get it in early so that we can have it reviewed by others in chunks.
Like maybe we could land a patch with all the updates every other week?

[2016-04-14 23:54] bgrins commented on #33
I'm not against that at all and I think it's a good idea to avoid code drift and be able to show off our progress. We'll need to do a few things:

* Rename anything that has an obviously temporary name
* Create an actual pref to enable the frontend
* Make sure all existing tests pass
* Find a reviewer (or do we need an additional reviewer since we've been reviewing each other's PRs?)
* Anything el

[2016-04-15 11:34] nchevobbe opened #55 "PageError component should output element that looks like error"
In the current console, this is done in a CSS rule on the `severity` attribute ( https://dxr.mozilla.org/mozilla-central/source/devtools/client/themes/webconsole.css#190 ).
AFAIK we can't have such an attribute in the output dom with React, so I guess we have add a CSS rule on another attribute ( `data-severity` if possible ? ).
@linclark , @bgrins , is my understanding of this correct ?

[2016-04-15 11:56] linclark commented on #55
@nchevobbe you're right, React only allows custom attributes if they are `data-*` attributes... except for this one weird trick you can do. If you put an "is" property in the props object, it will interpret it as a Web Component and allow all sorts of attributes. One thing to watch out for—if you do this, then you have to use "class" instead of "className".

You can see an example of this in a [PR

[2016-04-15 12:08] nchevobbe commented on #55
Okay, so if we go that way in the consoleApi component I'd prefer do the same on the pageError component for consistency sake (and we won't have to modify the CSS files for each theme ), at least for now .
Thanks for the tip, I'll have a look tonight

[2016-04-15 14:04] linclark opened #56 "[META] Land upstream"
We want to land a patch upstream. Then we can start a biweekly cycle of landing changes upstream.

[2016-04-15 14:06] linclark opened #57 "Rename things with obviously temporary names"
- [ ] OutputWrapperThingy
- [ ] SUPER_FRONTEND_EXPERIMENT

anything else?

[2016-04-15 14:07] linclark opened #58 "Create an actual pref to enable the frontend"
This pref should be disabled by default.

@nchevobbe, this would probably be a good one

[2016-04-15 14:08] linclark opened #59 "Make sure all existing tests pass"
All of the existing tests in the webconsole should continue to pass.

Depends on #58

[2016-04-15 14:11] linclark opened #60 "Remove all npm remnants"
Originally we had been working with mocha tests and had a package.json file committed. We'll need to make sure none of that gets included with the patch.

[2016-04-15 14:12] linclark commented on #33
I think that just about covers it. I created a meta issue and milestone to track it.

[2016-04-15 14:15] linclark commented on #56
@bgrins, to answer your question in #33, I think we can land this without external review since we've been reviewing each other's PRs. Then again, we might want to get review for this first one. I definitely don't think we'll need it for the biweekly updates after this.

[2016-04-15 14:47] linclark commented on #50
Fixed with #54

[2016-04-15 14:47] #50 closed

[2016-04-15 14:50] linclark opened #61 "Use immutable data structures"
We should use Immutable.js for handling the data that comes through reducers.

[2016-04-15 14:53] linclark opened #62 "Get data from the store using selectors on the reducer"
Right now, the `mapStateToProps()` function digs into the state object itself. Instead, it should call a function on the reducer.

[2016-04-15 17:44] nchevobbe commented on #58
@linclark , should I just add the preference, or change the tests we have with SUPER_FRONTEND_EXPERIMENT ?

[2016-04-15 17:49] linclark commented on #58
@nchevobbe The pref should be used in the conditional that determines if the SUPER_FRONTEND_EXPERIMENT boolean is set (on line 506 in webconsole.js). We have another issue to rename that boolean, which would be another good one if you want to take it on.

We will also need to add the pref to any end-to-end tests that we add, but for now we shouldn't need to add it to any tests.

[2016-04-17 15:56] #58 closed

[2016-04-19 16:41] nchevobbe commented on #52
I started working on this and got it working. Though, there would be conflicts when https://github.com/bgrins/gecko-dev/pull/64 is merged. Should I wait for the latter to be merged, or can I just add a commit for this issue on top of my existing commits, on the same branch ?

[2016-04-19 19:34] linclark commented on #52
Sorry, I didn't see that you'd pushed up new commits to the other PR! I'll test that and get it merged.

For this one, you can push up your branch as a PR and note that it has a dependency.

[2016-04-19 19:54] linclark opened #65 "Add support for console.table()"
Packets and current HTML can be found [here](https://github.com/linclark/webconsole-rdp/tree/master/data/consoleAPICall/console-table)

As discussed with @bgrins, we will probably diverge from the current HTML on this one. Even providing a simple HTML table element would work. This will likely be handled with reps.

Integration would happen [here](https://dxr.mozilla.org/mozilla-central/source/dev

[2016-04-19 21:00] linclark opened #66 "Add support for console.trace()"
- Testing string:
[code]
- [HTML and packets](https://github.com/linclark/webconsole-rdp/tree/master/data/consoleAPICall/console-trace)
- [Integration point](https://dxr.mozilla.org/mozilla-central/source/devtools/client/webconsole/webconsole.js#1284)

[2016-04-19 21:08] linclark opened #67 "Add support for console.count()"
This shouldn't be any different from others, but it's handled separately in `webconsole.js`, so there might be something I'm missing.

Testing: `console.count("foobar")`
- [HTML and packets](https://github.com/linclark/webconsole-rdp/tree/master/data/consoleAPICall/console-count)
- [Integration point](https://dxr.mozilla.org/mozilla-central/source/devtools/client/webconsole/webconsole.js#1284)

[2016-04-19 21:19] linclark opened #68 "Add support for navigation marker"
Testing:
    - Set `devtools.webconsole.persistlog` to true in about:config
    - Navigate to a different page
[HTML and packets](https://github.com/linclark/webconsole-rdp/tree/master/data/tabNavigated)
[Integration point](https://dxr.mozilla.org/mozilla-central/source/devtools/client/webconsole/webconsole.js#1984)

[2016-04-19 21:35] linclark opened #69 "Add support for input messages"
This should be as simple as adding the category `input` to a simple renderer like default.

[Integration point](https://dxr.mozilla.org/mozilla-central/source/devtools/client/webconsole/jsterm.js#436)

[2016-04-19 21:37] linclark commented on #53
@nchevobbe this would be a good one if you're looking for another issue. We should fix this one before we land this work upstream

[2016-04-20 19:27] nchevobbe commented on #55
Fixed by https://github.com/bgrins/gecko-dev/pull/64

[2016-04-20 19:27] #55 closed

[2016-04-20 19:43] nchevobbe opened #71 "Make the console take the full width of the window"
In the old console, it is done in the `resize` function (https://dxr.mozilla.org/mozilla-central/source/devtools/client/webconsole/webconsole.js#621).
I don't know if we should only do the same thing for `this.experimentalOutputNode`, if it exists, in the same function, or if it should be handled at a higher level (see https://github.com/bgrins/gecko-dev/blob/console-frontend/devtools/client/webco

[2016-04-20 19:51] linclark commented on #71
Good thinking. @bgrins would probably have an opinion on this since he did the original fix.

[2016-04-20 21:27] #52 closed

[2016-04-20 21:30] bgrins commented on #71
We had to land that because of some really serious perf issues with the flexed container: https://bugzilla.mozilla.org/show_bug.cgi?id=1237368#c5.  It may not be necessary with the new frontend but I'm not sure.

One approach would be to re-land something similar to https://hg.mozilla.org/integration/fx-team/rev/1aed451f1502#l1.11 but with CSS flex when it's the new frontend, then conditionally do

[2016-04-21 16:48] nchevobbe opened #72 "Fix eslint errors"
`./mach eslint devtools/client/webconsole/new-console-output/`reveals `34 problems (30 errors, 4 warnings)`.
I guess we should have those fixed before landing upstream ( #56  ) ?

[2016-04-21 16:59] linclark commented on #72
Good call, I added it to the milestone.

[2016-04-22 16:41] #53 closed

[2016-04-22 16:43] linclark commented on #57
@nchevobbe This is another good one. If we get this and the npm one done this week, we can probably land this upstream early next week.

I'd say good names are NewConsoleOutputWrapper and NEW_CONSOLE_OUTPUT_ENABLED. @bgrins, feel free to chime in if you disagree.

[2016-04-22 16:46] nchevobbe commented on #57
Sure! I'm currently fixing the ESLint errors we have, and I'll switch to this after.

[2016-04-22 20:18] nchevobbe commented on #60
I did not found any mocha test. I might missing them, but there are commits that removed those tests ( https://github.com/bgrins/gecko-dev/commit/992c8b578520e44fb28a25d842a4a76231afe343 , https://github.com/bgrins/gecko-dev/commit/919b97e5f9e086da876302fc360db4f6baa8da4a, https://github.com/bgrins/gecko-dev/commit/ebaa77110af1dd7b16cca1b96962764c98152e25 ).

[2016-04-22 22:35] nchevobbe commented on #72
Fixed by https://github.com/bgrins/gecko-dev/pull/74

[2016-04-22 22:35] #72 closed

[2016-04-24 17:49] nchevobbe commented on #62
@linclark this sounds interesting and I'd like to work on it to learn about store and reducers. Do you think it's a good fit for me ? Thanks

[2016-04-24 17:57] nchevobbe opened #77 "Display consoleAPI calls done before the console view is opened"
In the old console, when the console is opened, it shows consoleAPI calls already executed.

[2016-04-24 17:58] nchevobbe commented on #59
I don't know if it is what you meant, but I launched ```./mach test /Users/nicolaschevobbe/Projects/gecko-dev/devtools/client/webconsole/test/``` and 2 tests fail :

```TEST-UNEXPECTED-FAIL | devtools/client/webconsole/test/browser_repeated_messages_accuracy.js | Exception thrown - at chrome://mochitests/content/browser/devtools/client/webconsole/test/browser_repeated_messages_accuracy.js:96 - Syn

[2016-04-24 19:39] nchevobbe commented on #77
Please ignore this, the function handle the console inputs history.

[2016-04-26 19:42] #60 closed

[2016-04-26 19:42] #57 closed

[2016-04-26 21:30] linclark commented on #62
For sure :) I haven't looked at it closely, but a good start would be putting a function on the messages reducer to get all messages. This would be used in `mapStateToProps` functions. Something like

[code]

Then the `getAllMessages` function would just return the correct property off of the state object.

[2016-04-26 21:55] linclark commented on #59
Thanks for testing this. I'm planning to format the patches in a way that will skip any changes to test, so it should be fine.

I've rebased and pushed it up to try (with the test directory changes reverted). Let's see how it does!

https://treeherder.mozilla.org/#/jobs?repo=try&revision=c6990306f133

[2016-04-27 02:06] linclark commented on #59
@bgrins It seems that `client/webconsole/net/main.js` and `client/webconsole/new-console-output/main.js` define `rootUrl` and (more importantly) `require` in the same scope in conflicting ways. Any ideas on how to address this?

[2016-04-27 15:54] bgrins commented on #59
Oh, hm yeah that's a problem.  A couple of ideas:

* Maybe we could we load up the new-console-output module in an iframe so the global could be attached there (of course the element would still be rendered into the parent frame(
* We could define it as newConsoleOutput.require() and change all modules to use that (basically store the BrowserLoader instance into a variable).

Or, maybe we don't ac

[2016-04-27 17:44] jryans commented on #59
Modules __loaded by__ `BrowserLoader` should already have `require` as a global. Let me know if you're seeing something different in this case.

[2016-04-27 17:45] bgrins commented on #59
Turns out we are assigning 'require' to the window for no reason as per https://github.com/bgrins/gecko-dev/issues/59#issuecomment-215167723.  I'll send a PR with a fix

[2016-04-27 18:19] linclark commented on #59
new try push: https://treeherder.mozilla.org/#/jobs?repo=try&revision=fe8c6439390b

[2016-04-29 19:12] linclark commented on #59
ok, this is the series that I think we're going to land: https://treeherder.mozilla.org/#/jobs?repo=try&revision=adf43c335821&selectedJob=20170548

[2016-05-02 17:12] nchevobbe commented on #61
So, I had a look at Immutable.js, watched the talk about it (which was great), and successfully used it in the messages reducers.

The only thing I did for now is to switch `function messages(state = [], action)` to `function messages(state = Immutable.List(), action` and adapted the existing code to use it.

Now I wonder if the `action` parameter should be replaced with an Immutable.Map too ?

[2016-05-02 20:23] #59 closed

[2016-05-02 20:27] linclark commented on #56
🎉🎉🎉 This landed with https://treeherder.mozilla.org/#/jobs?repo=fx-team&revision=992077cdabaf

[2016-05-02 20:27] #56 closed

[2016-05-04 15:46] #62 closed

[2016-05-05 19:31] nchevobbe commented on #33
@bgrins , I think Lin rebased console-frontend branch yesterday, so we have the console.clear change. I was thinking of working on this issue, is it okay for you ? Or do you prefer me to work on another one ?

[2016-05-05 20:55] bgrins commented on #33
Yeah working on this one sounds good

[2016-05-12 17:41] bgrins commented on #71
Fixed by #80

[2016-05-12 17:41] #71 closed

[2016-05-12 17:41] bgrins commented on #33
Fixed by #82

[2016-05-12 17:41] #33 closed

[2016-05-12 17:42] bgrins commented on #61
@nchevobbe is this done now with #81 or is there more to do?

[2016-05-12 17:54] nchevobbe commented on #61
I do think so, but I'd prefer @linclark to confirm

[2016-05-12 17:57] linclark commented on #61
Thanks for checking. The action parameter doesn't need to be immutable, so this should be finished.

[2016-05-12 17:57] #61 closed

[2016-05-12 20:55] linclark commented on #43
After looking closer at reps, I think we can possibly use reps to format the top level grip **and** use variables view to inspect the lower level properties. That would probably be the best short term.

[2016-05-12 21:43] linclark commented on #43
@nchevobbe, if you're feeling ambitious, this would be a great one. I put up a PR that provides a starting point. It uses the recently-added Reps framework to determine how to format results.

It doesn't give us exactly the output we want. For example, `console.log({})` doesn't output `Object { }` like we'd want, but instead `[ {} ]`.

I think we might eventually need to create a `ConsoleRep` comp

[2016-05-12 21:46] nchevobbe commented on #43
Sure, I'll have a look this week-end. Thanks for pointing this.

[2016-05-13 12:18] linclark commented on #43
I just had a discussion with @janodvarko (aka Honza) about this... he's the one who created reps. I think we came up with a more elegant solution than the one I suggested above.

**Problem #1:** We need a variables view link, but other consumers of reps don't

To get around this, we could create a new optional prop on Rep called something like `titleLinkHandler`. This would take the [function that

[2016-05-13 17:16] bgrins commented on #43
See also: https://github.com/jlongster/debugger.html/issues/132

[2016-05-16 17:54] nchevobbe commented on #43
I think I'm on the right tracks for this. I succeed in displaying the title (Array), and showing the variable view when clicking on it.
However, I do have an issue displaying the content of the array. It seems that  `GripArray` expect a `provider` prop (https://github.com/bgrins/gecko-dev/blob/console-frontend/devtools/client/shared/components/reps/grip-array.js#L53).
I guess this expect a GripPro

[2016-05-17 14:50] janodvarko commented on #43
The provider is important for the the tree-view and responsible mainly for providing children when a tree-node is expanded. I think that it should be only used by the tree and not by reps reps don't need to fetch additional actors by themselves).

There are only couple of places where the provider is used: GripArray and NamedNodeMap. I think it's save to remove it i.e. instead of:

[2016-05-17 15:12] janodvarko commented on #43
Btw. I found a bug when looking at NamedNodeMap.

Reported:
https://bugzilla.mozilla.org/show_bug.cgi?id=1273534

Please, let me know if anyone is blocked by this and I can fix it promptly!

Honza

[2016-05-17 20:02] nchevobbe commented on #43
Added a WIP here https://github.com/bgrins/gecko-dev/pull/85

[2016-05-19 20:50] nchevobbe commented on #77
This is handled by the `displayCachedMessages` function in webconsole.js (https://dxr.mozilla.org/mozilla-central/source/devtools/client/webconsole/webconsole.js#1232).
We should find a way to have the packet here, and not only the message object, in order to dispatch it.

[2016-06-14 11:37] linclark opened #86 "Make it possible to pass in a component for linking labels"
This is actually more a reps issue than a web console issue. It blocks #85.

Honza and I discussed this in London. The current thinking is this:

1. Pass in a component that renders labels. The props object it should expect is `{object, label}`.
2. If that is passed in to any component, pass it down to the children as well. This will make it possible for items inside and array or object to be dire

[2016-06-20 19:58] nchevobbe commented on #86
So this is how I understand it.
There would be a new component `LinkableTitle` (or alike), which should be passed to the Rep like :
[code]

This component would have a render function like :
[code]

But then it's unclear to me how I should use this component to add the link on the curly brackets and the `more...` text.

If I take the render function in grip-array.js as an example, I could do :

[c

[2016-06-20 20:22] linclark commented on #86
I think the confusion probably comes from how I described it. I'd say something a property name `objectLinkComponent` might make sense.

When you use LinkableTitle as a function in the snippet below, you're creating a React element from it.
[code]

Instead, what you'd want to do is pass in the component itself, e.g.

[code]

Then this can be used inside of the Array component. Let me know if it's

[2016-06-20 21:28] nchevobbe commented on #86
Okay thank you, I think I got it.
In the Rep, I can get the component :

`let linkableComponent = this.props.objectLinkComponent || DOM.span;`
And then use it to create the React Element with it, for the title, the curly brackets, and so on :
[code]

[2016-06-21 16:22] linclark commented on #86
Yes, that's exactly it. I think something a little more descriptive than `linkableComponent` might be good. We're planning to remove `ObjectLink`, so we could reuse that name as `objectLink`.

[2016-06-23 21:43] bgrins commented on #77
The call to this.webConsoleClient.getCachedMessages should return an array of messages.    So if we short circuit that function and do a `this.webConsoleFrame.newConsoleOutput.dispatchMessageAdd`, it should work

[2016-06-23 22:09] bgrins commented on #77
@pelmers is going to look at this

[2016-06-25 16:03] nchevobbe opened #88 "Add support for "activate timestamp" preference"
Displays a timestamp with the `HH:ii:ss,.SSS` before the log message when the `devtools.webconsole.timestampMessages`is set to TRUE

Test to be rewritten:
- [ ] browser_webconsole_expandable_timestamps.js

[2016-06-25 18:08] nchevobbe opened #89 "Add a file location component"
Add a component which would display the file and line number the message is logged from
Clicking on the location should open the file in the debugger at the specified line

This component would be displayed at the end of each log message, and at the end of each stacktrace item  when console.trace() is called

[2016-06-25 22:41] nchevobbe opened #90 "Add collapsible stacktrace for console.error/trace messages"
Depends on https://github.com/devtools-html/gecko-dev/issues/66 for the stacktrace container, and on #91 for the toggler/expander component ( which we should feed with the title props set to l10n.getStr("messageToggleDetails") )

[2016-06-26 10:00] nchevobbe opened #91 "Add a collapser/toggler/twisty component"
Add a component for expanding/collapsing a container (be it an error stacktrace or a console.group ) The existing markup looks like :
`<a class="theme-twisty" href="#" title=""></a>`

[2016-06-27 18:51] nchevobbe commented on #89
Maybe we should wait for the new debugger to be accessible in the repo ? I don't know if the implementation of opening the debugger with a given file at a given line will be different from what we have now, but since the debugger and the new console have similar "deadline", it'd be better to not do this work twice.

[2016-06-27 20:05] nchevobbe commented on #89
See also https://bugzilla.mozilla.org/show_bug.cgi?id=670002 , which aims to handle source map in the current webconsole

[2016-06-28 22:24] bgrins opened #95 "Show message when console API has been replaced"
See the following bits in the webconsole.js frontend for when this is detected / shown in the current frontend:

this._hasNativeConsoleAPI
logWarningAboutReplacedAPI
packet.nativeConsoleAPI

[2016-06-29 00:02] pelmers commented on #77
#96

[2016-06-30 02:01] linclark opened #97 "Determine if custom classes around message bodies are needed"
Currently there are custom classes around message bodies. For example, `console-string`, `class-Date`, and `kind-Object`. We might be able to remove those and use the classes output by Reps instead.

For now, I'm going to assume that we can remove them, but we should verify this.

[2016-06-30 14:14] linclark commented on #32
This will be fixed by #94

[2016-06-30 14:14] #32 closed

[2016-06-30 14:14] linclark commented on #41
This will be fixed by #94

[2016-06-30 14:14] #41 closed

[2016-06-30 14:15] linclark commented on #43
Current WIP is #94

[2016-06-30 14:18] #77 closed

[2016-06-30 14:19] linclark commented on #86
This work is currently being tracked in Bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1283123

[2016-06-30 14:19] #86 closed

[2016-06-30 14:55] linclark opened #98 "Improve component tests"
Currently we have a list of `testCommands` that are in head which are being used to generate packets. These aren't helping structure the tests too much, and they make the tests more obscure.

In #94, we're restructuring the way messages are handled. I expect that the tests will then have a pretty similar structure across the different message types:

[code]

We could abstract this out into another

[2016-06-30 17:51] bgrins opened #99 "Add a waitForMessages function for end-to-end testing"
We should see if it's possible to run some of the integration tests by simulating the same `new-messages` event and making changes to head.js without modifying all of the tests.

[2016-06-30 18:32] linclark opened #101 "Add filtering bar"
<img width="830" alt="image 2016-06-27 at 9 44 43 am" src="https://cloud.githubusercontent.com/assets/105464/16530786/b1a8f294-3f97-11e6-855f-442c0cd280db.png">

[2016-06-30 18:34] linclark opened #102 "Some messages make the console break completely"
We should make sure this doesn't happen.

[2016-06-30 18:50] linclark opened #103 "Make reps match the existing console output"
Currently reps don't output in the way we need all the time. We need to make sure to test all the different output types against existing output before asking people to use the console.

|  | command | current | reps | issue |
|---|---|---|---|---|
| attribute | temp0.attributes.class | class="foo" | class="foo" | n/a |
| date-time | new Date() | Date 2016-07-01T13:26:14.456Z | DateFri Jul 01 2016

[2016-06-30 18:55] linclark opened #104 "Mimimum viable performance"
Before we turn on in Nightly, we should make sure that performance is at least comparable to the existing console.

[2016-06-30 19:39] linclark commented on #45
@bgrins I didn't realize the console limits applied per category. Do you think this is a feature that we need to keep? Or can we change it so there is one global message limit?

[2016-06-30 19:41] linclark commented on #45
See https://dxr.mozilla.org/mozilla-central/source/devtools/client/preferences/devtools.js#299

[2016-06-30 19:55] bgrins commented on #45
Global message limit works for me

[2016-07-01 05:41] nchevobbe commented on #45
okay so I'll add a `devtools.hud.loglimit` and will use it in https://github.com/devtools-html/gecko-dev/pull/100 .
Should we have a bug to remove the category limit prefs when we'll switch to the new console ?

[2016-07-01 11:42] linclark commented on #45
I was thinking the same thing. I'll create a bug to catch all of this cleanup work that needs to happen

[2016-07-01 11:54] linclark opened #106 "Clean-up when preffing the new console on for good"
This issue is for capturing all the little bits of code we need to clean up when we turn this on.

|   | originating issue | code  |
|---|---|---|
| Remove category based log limits  | #45  | [dxr](https://dxr.mozilla.org/mozilla-central/source/devtools/client/preferences/devtools.js#302)  |
| Remove the "Enable persistent logs" checkbox from settings  | #131 |   |
| Clean up old severity/category

[2016-07-01 14:43] linclark commented on #103
The reps results above are with the [patch](https://bugzilla.mozilla.org/show_bug.cgi?id=1283123) for object linking applied.

The work will take place on Bugzilla as part of this [meta](https://bugzilla.mozilla.org/show_bug.cgi?id=1283847).

[2016-07-01 15:16] bgrins opened #107 "Incorporate markup changes from network request stack trace changes (Bug 1281732)"
Some changes are landing in m-c to make the structure of all message types more consistent.  See also: https://bugzilla.mozilla.org/show_bug.cgi?id=1281732#c57:

    message-body-wrapper
    - message-flex-body
      - message-body
      - message-repeats
      - message-location
    - attachment (stacktrace or consoletable)

I believe it also gets rid of some extra elements in the hierarchy.  We

[2016-07-01 15:23] linclark commented on #107
Yes, this should definitely wait for #105 and also for us to do an update from mozilla-central. We generally would do that weekly/bi-weekly, but haven't been because of the work weeks.

[2016-07-01 15:32] bgrins commented on #107
Maybe we can rebase once bug 1283870 lands

[2016-07-01 15:33] linclark commented on #107
👍

[2016-07-01 18:44] linclark commented on #107
This is ready to be worked on now.

I have put up #109 that brings the PageError markup in line with what it was yesterday. That might have changed as a result of Jarda's patch.

[2016-07-02 10:41] nchevobbe commented on #101
if possible, I'd like to work on this one

[2016-07-06 14:25] linclark commented on #101
Rad! It's in the deployment-phase-1 milestone, so we're hoping to get it done by next Wednesday. But really, the only essential part for that is the hide network messages checkbox and the buttons for filtering by log level. If that works with your schedule, I'd love it if you could tackle it.

[2016-07-06 15:15] nchevobbe commented on #101
Yes, I can focus on it now. I'll try to have something to review by Friday or next Monday so we have time to iterate on it if I did it wrong the first time.

[2016-07-06 15:48] linclark opened #110 "Use Chrome's taxonomy of message types"
Chrome's [message taxonomy](https://chromedevtools.github.io/debugger-protocol-viewer/1-1/Console/#type-ConsoleMessage) (under ConsoleMessage) is more well structured than ours.

We should be able to convert our packets to a structure more like this in the message utils.

| Theirs |   |
|---|---|
| sources | xml, javascript, network, console-api, storage, appcache, rendering, css, security, other,

[2016-07-06 16:46] linclark opened #111 "Add variables view link to objects"
Once the [object links](https://bugzilla.mozilla.org/show_bug.cgi?id=1283123) patch lands, we can add variables view back into results.

[2016-07-06 17:57] bgrins commented on #101
We landed some similar changes on the old repo - I'm not sure how directly useful all of this will be but maybe some of it can be reused:

https://github.com/bgrins/console-output-experiment/commit/372164559168b8341a19708038a6f276062cd21d
https://github.com/bgrins/console-output-experiment/commit/da0505b7cefa9ad74df2064ddeebef20f49adbcf
https://github.com/bgrins/console-output-experiment/commit/f2

[2016-07-06 17:59] bgrins commented on #101
We should also be able to pull out some of the .requests-menu-filter-button styles from the net monitor and move it into the shared toolbars.css file

[2016-07-06 18:10] linclark opened #112 "Update prefs when the user updates them"
When #100 lands, prefs will be stored in the Redux store. They will be updated whenever the toolbox closes. In the current console the prefs are fetched dynamically, so they are updated immediately.

We should be able to [listen for prefs](https://dxr.mozilla.org/mozilla-central/source/devtools/client/styleeditor/utils.js#20) and fire off a PREF_UPDATED action

[2016-07-06 21:47] #102 closed

[2016-07-06 21:57] #43 closed

[2016-07-07 01:18] linclark opened #113 "Use an Immutable.Record for ConsoleMessages"
The message utils creates a console message object. It should be an Immutable.Record.

[2016-07-08 12:03] #51 closed

[2016-07-08 13:52] linclark opened #117 "Colocate selectors with reducers"
Originally, the recommendation for selectors was to have a separate file for them. Since then, Dan has revised his thinking as part of "idiomatic" Redux. The current best practice is to [colocate selectors](https://egghead.io/lessons/javascript-redux-colocating-selectors-with-reducers?course=building-react-applications-with-idiomatic-redux) with reducers.

[2016-07-08 14:29] #113 closed

[2016-07-11 18:30] bgrins commented on #16
Interesting problem with this - if I add a reference to a shared-head file at new-console-output/test in xpcshell.ini then run`./mach test devtools/client/webconsole/new-console-output/test/`it works, but if I `./mach test devtools/client/webconsole/new-console-output/test/actions` it fails.

I guess this is because the build system is skipping files in the parent directory

[2016-07-11 18:36] linclark commented on #16
ah, maybe that's why it wasn't working for me

[2016-07-11 21:17] linclark opened #118 "Convert grip structure to RemoteObject structure"
Like #110, Chrome's RDP defines a [clearer structure](https://chromedevtools.github.io/debugger-protocol-viewer/1-1/Runtime/#type-RemoteObject) for remote objects.

This will require work for Reps to support the new structure, so should be postponed until phase 2.

[2016-07-12 15:05] linclark commented on #67
This landed in #87

[2016-07-12 15:05] #67 closed

[2016-07-12 15:06] linclark commented on #45
This landed in https://bugzilla.mozilla.org/show_bug.cgi?id=1285672

[2016-07-12 15:06] #45 closed

[2016-07-12 17:19] #111 closed

[2016-07-12 17:55] bgrins opened #121 "Change [category] and [severity] to classes"
This will let us get rid of any `is=""` hacks to be able to use non-standard attributes.  We'll need to update both the new markup, old markup, and CSS all in the same patch.

[2016-07-12 18:58] linclark commented on #121
I think we might want to remove category and severity all together. I believe the only reason we have those is for tests and for the filtering, which will be handled via Redux in the new system.

[2016-07-12 19:48] nchevobbe commented on #101
Here's the list of preference we have for the current filtering :

- "devtools.webconsole.filter.network"
- "devtools.webconsole.filter.networkinfo"
- "devtools.webconsole.filter.netwarn"
- "devtools.webconsole.filter.netxhr"
- "devtools.webconsole.filter.csserror"
- "devtools.webconsole.filter.cssparser"
- "devtools.webconsole.filter.csslog"
- "devtools.webconsole.filter.exception"
- "devtools.we

[2016-07-12 20:12] linclark commented on #101
I'd say yes, that is correct. We no longer want those extra classifications of messages. @bgrins, do you agree?

[2016-07-12 20:40] linclark commented on #68
For this, Chrome just adds a message saying `Navigated to <url>`. I think this would make things a lot simpler. @bgrins, any opposition?

[2016-07-12 20:47] bgrins commented on #101
Chatted with Lin, here's what I'd say:

netxhr: let's apply the 'network' filter to these messages as well
sec: show based on the severity (error, warn)
serviceworkers: show based on severity
sharedworkers / windowlessworkers: I don't really know off hand how common these logs are - I'd say show based on severity and we can revisit if they are too frequent or unexpected
server: show based on sever

[2016-07-12 21:48] bgrins commented on #121
I believe we also use it for controlling styling aspects of the message i.e. https://dxr.mozilla.org/mozilla-central/source/devtools/client/themes/webconsole.css#322

[2016-07-12 21:50] linclark commented on #121
I think for that case it probably makes sense to switch to classes. What do you think?

[2016-07-12 21:54] bgrins commented on #121
Yeah classes make more sense than data attributes.  Will rename the bug to match that

[2016-07-12 21:59] bgrins commented on #65
We could special case console.table() for adding a `<table>` element here: https://github.com/devtools-html/gecko-dev/blob/console-frontend/devtools/client/webconsole/new-console-output/components/message-types/console-api-call.js#L29

[2016-07-12 22:26] linclark commented on #65
Here's the [current code](https://dxr.mozilla.org/mozilla-central/source/devtools/client/webconsole/console-output.js#1775) for table output, and here's [what Chrome does](https://cs.chromium.org/chromium/src/third_party/WebKit/Source/devtools/front_end/console/ConsoleViewMessage.js?q=_formatParameterAsTable&sq=package:chromium&l=551&dr=C).

[2016-07-12 22:38] linclark opened #122 "Improve performance by using shouldComponentUpdate"
Currently, we are calling render on each message instance with each state change. This is a pretty big performance hit as the array of messages gets larger. If we used keys and shouldComponentUpdate, then only the messages that had changed would go through render.

For the key, we may want to add an autoincremeting ID in utils/messages.js

[2016-07-12 22:57] #69 closed

[2016-07-12 22:57] bgrins commented on #122
So what is the component(s) that should have the shouldComponentUpdate implementation?  And should it be comparing keys on the old and new messages?

[2016-07-13 00:18] bgrins commented on #101
@helenvholmes I'd like to clarify a couple of things about network filtering:

We have a different behavior from chrome with Net right now.  By default they appear to only show net errors when the option is enabled (no XHR or normal request logging).  There's a context menu item to toggle XHR logging - which is disconnected from the rest of the 'filtering' UI.  If I were to assign meaning to the d

[2016-07-13 00:21] bgrins commented on #101
To complete the thought in the previous comment and what it would mean for the designs - this would mean that the 'hide network messages' checkbox would go away in the filtering UI, and be replaced with a new "XHR" filter button (along with in some cases a more verbose "All Net" button).  There'd be no context menu item for toggling XHR as in chrome.

[2016-07-13 02:19] helenvholmes commented on #101
Going to do my best to pull this apart. Bear with me:

I think that if you have XHR logging turned _off_, you wouldn't want to see the filter message. I think we want the filtering message to only apply to the severities or it becomes noisy.

I think we want to keep this as our users are used to it. I imagined in the designs Lin posted that checking "Hide Network Messages" would toggle this all/no

[2016-07-13 05:30] nchevobbe commented on #101
we could maybe group the XHR pill and the Show All Network Message, because they are related ?
Also, I think the Persist logs input should be the last element (maybe even sticked to the right), because it does not really alter the current messages.
So we would have something like

`Errors Warnings Logs Info | CSS | XHR  ❑ Show all Network Messages | ❑ Persist logs`

[2016-07-13 11:18] nt1m commented on #101
@helenvholmes Your argument makes sense, but I think for consistency, it would be nicer to have a pill button. If your concern is that the wording is too long, how about shortening to [Other network messages] for the pill button?

I also agree with @nchevobbe. In addition to what he said, maybe we should put the CSS/XHR/Net stuff before the Errors/Warnings/Logs/Info buttons. It makes it more clear

[2016-07-13 13:41] helenvholmes commented on #101
Definitely think the reordering makes sense, @nchevobbe, let's definitely reorder them to make sense

![screen shot 2016-07-13 at 9 35 23 am](https://cloud.githubusercontent.com/assets/1720093/16805251/3f9f6bfc-48dd-11e6-9bef-951b0ebc7a94.png)

I still prefer the "Show All Network Messages" over the pill because I think it has clearer language, but perhaps it's more obvious than I think it is, @nt

[2016-07-13 13:59] linclark commented on #101
I agree with @helenvholmes on "Show All Network Messages". I think we could consider getting rid of CSS messages... none of the other browsers display them in the same way we do AFAIK, and I'm not sure how much they are used. But we don't have to decide on that now.

I think the default would be to have all severities/levels on and to show network messages, including XHR. I think CSS should be off

[2016-07-13 14:17] linclark commented on #122
We should be able to do the `shouldComponentUpdate` on the MessageContainer and it should just be able to check the `repeat` prop.

The key would be added [where we create the array of messages](https://github.com/devtools-html/gecko-dev/blob/console-frontend/devtools/client/webconsole/new-console-output/components/console-output.js#L45).

[2016-07-13 16:42] bgrins commented on #101
That sounds good - the only part I'm not sure about there is 'show all network messages' being o by default if the behavior of the checkbox is changed in the way I outlined in https://github.com/devtools-html/gecko-dev/issues/101#issuecomment-232220113.  The behavior of this checkbox would differ from Chrome's in that in Chrome checking that box hides network error messages: https://developers.goo

[2016-07-13 16:50] bgrins commented on #101
If we change the behavior in this way (and feel free to argue against it), then its behavior is very much like the XHR pill.  Naming it simply is tricky, as it's basically 'show all non-xhr net requests' but if we could come up with something I think it could be a pill - maybe just 'Requests'.  I don't feel super strongly about it, I just think that it's not actually that important of a feature an

[2016-07-13 17:30] helenvholmes commented on #101
I'm fine with naming it to "Requests" if people here feel that's descriptive enough, and making it a pill. Let's do that.

I'm also fine with the filtering message—if I'm understanding correctly, you _only_ see the filtered message if you have chosen to hide a severity.

[2016-07-13 17:32] helenvholmes commented on #101
![screen shot 2016-07-13 at 1 31 50 pm](https://cloud.githubusercontent.com/assets/1720093/16813114/2f2771f4-48fe-11e6-8ae1-8c53b1c248df.png)

[2016-07-13 17:41] nt1m commented on #101
+1 for "Requests". If we want to be more precise, "Other Requests" could work as well.
I also think the separator between the XHR pill and the CSS pill isn't necessary, as those pills work the same way.
About localisation, "Other requests" translates to "Autres requêtes" in French, so it's not much longer, I don't know for other languages though.

@helenvholmes How do you feel about moving the CSS

[2016-07-13 18:49] bgrins commented on #122
@pelmers is working on this one

[2016-07-13 21:37] linclark commented on #110
Fixed by #120

[2016-07-13 21:37] #110 closed

[2016-07-14 10:42] nchevobbe commented on #101
Is there any special searching/filtering syntax on the search input ? Looking at the current console, it seems that all we do is lowercasing both the search term and the log messages to see if the search string is included in the log message.

But, I see in the design "!ping spotify", which looks like a special syntax (and there's the link about that syntax).
@helenvholmes do you have something sp

[2016-07-14 13:13] helenvholmes commented on #101
@nt1m If I remember everything from a conversation with Brian and Lin, I think we wanted to go with severities first because users find them more useful. Also cuts down on the number of papercuts between Chrome and Firefox.

[2016-07-14 14:02] linclark commented on #97
This depends on #99

[2016-07-14 14:55] nt1m commented on #101
@helenvholmes Yeah, but the categories have the priority over the severities if I understand correctly. If you toggle off the CSS category, you won't see any CSS logs no matter what severity you checked.

[2016-07-14 15:19] bgrins commented on #101
IIRC we were discussing eventually having an advanced search syntax (i.e. regexps and other special syntax we define).  But in v1 we should only need to target parity with the current UI.

[2016-07-15 15:13] helenvholmes commented on #101
@nt1m true, but I'd still rather see the severities first, mostly because of the papercuts issue.

@nchevobbe, Brian's right above—I think eventually we want a special syntax to work in the filtering area but that should probably be tackled later.

[2016-07-15 16:25] nchevobbe commented on #101
Something I thought about, does XHR is the best term we can have ? I'm saying this because of `fetch` , and I think that from a user point of view, the XHR (or whatever we call it) filtering button will act both on XmlHttpRequest and fetch request.

[2016-07-15 16:37] linclark opened #124 "Handle localization of the filter bar"
Depends on #101

The filter bar has strings such as the "filtered messages" notice. These should be localized.

[2016-07-15 16:49] linclark opened #125 "Handle grips in console message search"
Depends on #101

IIRC, in the current console, we search against the rendered string. However, that won't be easy anymore since the messages are stored as objects. The string that the message contains isn't rendered until it reaches the Rep component.

We may need to do a search of:

- messageText
- items in the message.parameters array, which can be primitive value grips, grips with just a type,

[2016-07-15 16:54] linclark opened #126 "Adjust severity filtering rules"
Depends on #101

When you run console.log("foo"), you get three lines

[code]

If the log filter is turned off, the console log should not show up, but the evaluation result and console command should.

[2016-07-15 18:06] linclark opened #127 "Sync changed filter prefs back to system"
Depends on #101

In the current console, we persist the filter prefs across opening/closing of the toolbox. We need a way to write the pref back to the system.

Tests:
- Filter buttons are persisted. see browser_webconsole_bug_622303_persistent_filters.js

[2016-07-15 18:20] bgrins commented on #127
And I don't think we need to worry about 'migrating' a users prefs for filtering in the current frontend

[2016-07-15 18:27] bgrins commented on #101
I'm a fan of 'XHR' for now because it's consistent with our current frontend.  But mostly because I can't think of a good 1 word replacement for it.

[2016-07-15 19:38] pelmers commented on #122
Some test-writing progress in https://github.com/devtools-html/gecko-dev/pull/128

[2016-07-15 20:03] linclark opened #129 "Add tests for filter bar"
Depends on #101

We should test:

- [x] actions
  - SEVERITY_FILTER
  - FILTERS_CLEAR
  - MESSAGES_SEARCH
  - FILTERBAR_TOGGLE

- [x] components
  - Filter bar
  - Filter toggle

- [x] store
  - add all different kinds of messages and:
    - search
    - filter by each filter type
    - search/filter at same time
  - clear filters

[2016-07-15 20:27] bgrins commented on #16
So apparently we are already doing this with mochitest-chrome tests (the utils tests reference the component head.js): https://github.com/devtools-html/gecko-dev/blob/console-frontend/devtools/client/webconsole/new-console-output/test/utils/chrome.ini#L4

[2016-07-15 21:38] linclark commented on #122
@pelmers thanks for posting the WIP, and I'm so excited to see the test in there! it will be great if we can get numbers on the kind of improvement this provides.

[2016-07-15 21:52] linclark opened #130 "Show the number of filtered messages"
Depends on #101

In the mock up, there's a notification that shows how many messages are hidden. This has been partially implemented, but we need to actually calculate the number of hidden messages.

[2016-07-15 22:02] linclark opened #131 "Handle message persistance"
Depends on #101

The persist logs option allows you to keep your messages even when you refresh/navigate the page. We need to do a few things:

1. Make a checkbox in the filter bar
2. Persist the choice using prefs
3. Add handling for navigation messages coming from the backend
4. Clear messages on navigation unless the checkbox is checked

Eventually, we will also remove the existing checkbox fro

[2016-07-15 22:05] linclark opened #132 "Add additional filters to filter bar"
Depends on #101

The current implementation of the filter bar allows filtering based on severity. There are other things that we want to filter on, but they have not yet been decided. Discussion is ongoing in #101.

Tests:
- [ ] Test that CSS filtering works, as in browser_webconsole_bug_589162_css_filter.js

[2016-07-16 19:09] linclark opened #133 "Avoid memory issues by clearing out old messages from store"
We discussed this during the implementation of #45.

We have a message limit which limits how many messages are displayed. However, we keep them in the store even if we're past the limit. It's not clear at what point this will become a problem for our users (or whether it will). If we decide to address it, [this issue](https://github.com/reactjs/redux/issues/644) has some discussion.

[2016-07-18 10:11] nchevobbe opened #134 "Use a button instead of a link for the VariableViewLink"
There's a similar issue described in https://bugzilla.mozilla.org/show_bug.cgi?id=1287389 : hovering the title in the devtools shows the location preview of the link, which isn't helpful since `href` is `#` ( see  https://github.com/devtools-html/gecko-dev/blob/console-frontend/devtools/client/webconsole/new-console-output/components/variables-view-link.js) . We should use a proper `button` elemen

[2016-07-18 15:12] linclark commented on #130
It's not clear how this will work with message pruning, so dropping this from the sprint for now.

[2016-07-18 15:13] linclark commented on #103
This work is ongoing outside of this project with external contributors, so dropping from sprint 2

[2016-07-18 15:24] linclark opened #135 "Don't show the "hidden messages" bar when none are hidden"
Depends on #101

Currently the hidden messages bar is displayed regardless of whether there's any filtering going on. It should only be shown once #130 is done.

[2016-07-18 15:27] linclark opened #136 "Define all non-variable reducer initialState in reducers"
Depends on #101

The messages and UI initial state can be defined in the reducer instead of the store.

[2016-07-18 15:29] linclark opened #137 "Follow-up: address filterbar CSS feedback"
We want to land #123, but there was some CSS feedback that still needs to be addressed. This issue is to track that.

/cc @nchevobbe

[2016-07-18 16:53] linclark commented on #137
As part of this, we should change the word `filtering` to `filter` in class names.

[2016-07-18 17:15] nchevobbe commented on #137
I'm working on this

[2016-07-18 17:25] linclark opened #139 "Improve performance of filtering/searching with keys"
If array indexes change in an array of children in React, it can confuse React into thinking that all of the things have changed value. See an explanation [here](https://www.youtube.com/watch?v=-t8eOoRsJ7M&feature=youtu.be&t=998);

To help with this, we should give React a key for each message.

[2016-07-18 17:42] nchevobbe commented on #135
It was removed from PR #123 , do I think we can close this issue

[2016-07-18 17:43] linclark commented on #135
was just about to come say the same :-D

[2016-07-18 17:43] #135 closed

[2016-07-18 18:10] linclark opened #140 "Add new console output support for all messages"
Currently there are places where messages come in from the backend and we aren't intercepting them. For example, [network messages](https://dxr.mozilla.org/mozilla-central/source/devtools/client/webconsole/webconsole.js#3313). We should integrate the new console in all of these places.

[2016-07-18 19:15] nchevobbe opened #141 "Fix test/store/test_messages.js"
I think that https://github.com/devtools-html/gecko-dev/commit/36998a3b72fc99ecb99ebff37135296a584584a5 broke devtools/client/webconsole/new-console-output/test/store/test_messages.js , ( see https://github.com/devtools-html/gecko-dev/blob/console-frontend/devtools/client/webconsole/new-console-output/test/store/test_messages.js#L65 , I got message2.data is undefined )

[2016-07-18 19:41] linclark commented on #141
Sorry about that! Moral of the story is I should double check that I've run the tests before I commit any PRs. Will have a fix up shortly

[2016-07-18 21:40] linclark commented on #141
Fix in #143

[2016-07-18 22:30] #141 closed

[2016-07-18 22:38] bgrins commented on #134
See also: https://bugzilla.mozilla.org/show_bug.cgi?id=987373#c33.  We need to make sure the button is focusable from the keyboard

[2016-07-18 23:19] bgrins commented on #122
Closed by #128

[2016-07-18 23:19] #122 closed

[2016-07-18 23:22] bgrins commented on #139
@pelmers is working on this

[2016-07-19 05:06] nchevobbe commented on #134
I made a quick test on the VariableView and the button is indeed focusable
I was able to navigate through "button links" with the keyboard, and open the variable view pressing enter on a focused button (on OSX).

[2016-07-19 05:55] nchevobbe opened #144 "Handle console.count call without label"
See localized string : http://searchfox.org/mozilla-central/source/devtools/client/locales/en-US/webconsole.properties#117

[2016-07-19 05:58] nchevobbe opened #145 "Add title on repeat element"
See http://searchfox.org/mozilla-central/source/devtools/client/locales/en-US/webconsole.properties#213

[2016-07-19 13:51] linclark opened #146 "Make action/function/variable names more concise/consistent"
| current | suggested| notes |
|---|---|---|
|  SEVERITY_FILTER | FILTER_SET | requires adding a `type` or something to the action payload |
| FILTERBAR_TOGGLE | FILTER_BAR_TOGGLE | to match the function name, filterBarToggle |
| FilterToggleButton | FilterToggle | |
| onClearOutputButtonClick | onClickMessagesClear | |
| onToggleFilterConfigBarButtonClick | onClickFilterBarToggle | |
| onClearFil

[2016-07-19 13:51] linclark commented on #146
@nchevobbe what do you think of these changes? If you're ok with them, I can go ahead and make them, or lmk if they will collide with any of your current work.

[2016-07-19 15:09] linclark commented on #129
I'm working on the tests.

[2016-07-19 15:31] linclark opened #147 "Use ConsoleMessage for repeatId instead of packet data"
This will make it easier to test things.

Types basically give us a defined message API. This means stubbing out message objects will be much more reliable. We can just have a set of tests which iterate through the stubs and make sure that `prepareMessage` returns the correct message.

However, the way we're handling `repeatId` makes stubbing out ConsoleMessage objects brittle. Instead, we should

[2016-07-19 17:19] nchevobbe commented on #146
I'm fine with the name changes and getting rid of the `show` parameter for `filterBarToggle`
For the ui state, I don't really know, I was thinking that maybe we'll have more ui action when we introduce a React version of jsterm, but I could be wrong.
I don't have experiences using React/Redux so if you think a change is needed I trust you

[2016-07-19 18:05] nchevobbe opened #148 "console.count calls are filtered out"
Because `message.severity` is `debug` for them, console.count calls are filtered, and this not shown.
I don't know if this could get along with https://github.com/devtools-html/gecko-dev/issues/126 . @linclark please close this if you think we can handle that in the other issue.

[2016-07-19 18:42] linclark commented on #148
Yeah, I think we can handle this in #126, but good to make a note of it.

[2016-07-19 18:42] #148 closed

[2016-07-19 18:56] linclark opened #150 "Clean up React warnings"
[code]

[2016-07-19 19:59] linclark opened #152 "Test prepareMessage"
We can test `prepareMessage` pretty easily by stubbing out the `ConsoleMessage`s that we expect for each line of input. This means that we can have confidence in the API that `ConsoleMessage` provides.

This is great because it means we could remove all of the packet fetching from the component tests.

[2016-07-19 21:49] linclark commented on #139
@pelmers I just realized that without this, the `shouldComponentUpdate` makes the filtering buggy. Do you think you'll be able to get to this today? If not, I can work on it.

[2016-07-19 22:43] bgrins opened #155 "Add a perf subtest for tracking message filtering speed"
Depends on #154

We should extend the perf test with a subtest that tracks the time it takes to filter out half or so of the messages, then clear the filter and see how long it takes.  The `key` changes should really help with perf here.

[2016-07-19 22:44] bgrins commented on #155
@pelmers is working on this

[2016-07-19 23:54] pelmers commented on #155
Does this issue include the formatting of the info message to use PERFHERDER_DATA?

[2016-07-20 01:45] bgrins commented on #155
Let's break that into another commit / PR and then we can get separate review from the a-team to make sure we are formatting data correctly.

[2016-07-21 05:22] nchevobbe commented on #136
Fixed by https://github.com/devtools-html/gecko-dev/pull/142

[2016-07-21 20:30] linclark commented on #101
Once #157, #126 and #129 are done, I think we can merge this into m-c. @nchevobbe @bgrins, any concerns? I know that @bgrins wanted to get QA on this if possible.

[2016-07-21 20:31] linclark commented on #126
This issue will also take care of the mismatch between Chrome RDP's taxonomy and ours as mentioned in #148.

[2016-07-21 20:37] #155 closed

[2016-07-21 21:01] bgrins commented on #101
@linclark I'd like to have a try push with Talos results including the changes in #123 to make sure the CSS changes haven't regressed.  I haven't figured out how to push to try yet from this repo - would you be able to do that (maybe make a bug to merge this filter bar work so we can trigger from mozreview)?

[2016-07-21 23:14] linclark commented on #101
Good idea, I can get that up tonight

[2016-07-22 15:16] #147 closed

[2016-07-22 15:17] #136 closed

[2016-07-22 15:47] linclark commented on #16
Clearing out the sprint milestone on this. Moving shared things to modules unblocks the issues that this was blocking, so this is no longer high priority.

[2016-07-22 15:49] linclark commented on #101
I'm going to close this one out since we landed the main PR. The remaining issues that we need to complete before landing this in m-c are already marked with the sprint 2 milestone.

[2016-07-22 15:49] #101 closed

[2016-07-24 11:15] nchevobbe commented on #137
We can close this since https://github.com/devtools-html/gecko-dev/pull/157 landed

[2016-07-24 11:15] nchevobbe commented on #144
We can close this since https://github.com/devtools-html/gecko-dev/pull/149 was merged

[2016-07-24 11:15] #144 closed

[2016-07-24 16:05] linclark opened #160 "Get dispatch from connect instead of requiring store in components"
Follow-up to #101

I should have caught this in my review. In the FilterToggleButton and FilterBar we should get dispatch from the props that connect injects instead of requiring the store.

`dispatch` should just be available as a prop in FilterBar (since we aren't using the  `mapDispatchToProps` capability of Redux). Then a bound handler can be passed from FilterBar to FilterToggleButton.

[2016-07-24 19:05] linclark commented on #137
👍

There's some GitHub magic that can help with this. If you add the words "Fix #<issue_num>" in the PR description, then it should close this automatically when the issue is merged.

[2016-07-24 19:05] #137 closed

[2016-07-24 19:41] linclark opened #162 "Convert existing tests to mocha"
- [x] actions
- [x] components
- [x] store
- [x] utils

As part of this, perf should move to its own test directory.

[2016-07-24 23:39] linclark commented on #162
Converting the components tests is going to be a little more complicated because Reps use AMD. Our browser loader has [code](https://dxr.mozilla.org/mozilla-central/source/devtools/client/shared/browser-loader.js#137) that makes this work, but when running Mocha tests the browser loader isn't involved.

[2016-07-25 11:36] nchevobbe commented on #140
I'd like to work on this one. I think it makes sense to have this done before adding the filter for those messages (xhr and other requests).

[2016-07-25 11:39] nchevobbe commented on #44
If possible, I'd like to work on it after the filter bar is done, since that's the feature (collapsible group) that leaded me to work on the new console

[2016-07-25 14:32] linclark commented on #162
Added to sprint 2 because this will really speed up development of other tasks. I think I can get this done today.

[2016-07-25 14:34] linclark commented on #44
That would be rad! We don't plan to prioritize this for another few sprints, but if you want to take it on when we do I'd love that.

[2016-07-25 14:41] linclark commented on #140
Excellent! We can prioritize this for next sprint.

There's one in this sprint which is kind of related, #66. I know that you had put up a PR for that before but I wanted to hold based on Jarda's work adding the Stacktrace component and the Reps work. Would you be interested in working on that one again?

[2016-07-25 14:44] linclark commented on #90
Bumping this to sprint 3 since I added Mocha tests to this sprint.

[2016-07-25 17:05] nchevobbe commented on #140
Sure, I'm gonna look right now

[2016-07-26 00:16] #160 closed

[2016-07-26 11:30] nchevobbe opened #167 "Fix filter input style for devtools' dark theme"
Currently, we keep the white background-color, which doesn't look great.

![filter_dark](https://cloud.githubusercontent.com/assets/578107/17136183/3d3f01e0-5334-11e6-8655-c4a728e12a03.png)

@helenvholmes , should I just made the background transparent, or darker, like the `filter properties` input of the variable view ?
![search_input_dark](https://cloud.githubusercontent.com/assets/578107/171363

[2016-07-26 13:00] helenvholmes commented on #167
@nchevobbe: my preference would be to make it transparent. I'd like to see those inputs change over to transparency in the future as we swap over to these designs that are width/height 100%.

[2016-07-26 16:46] linclark opened #168 "Add README and PR template"
We can have commits in here that we never sync back to m-c. This means that we can create a README for contributors and a PR template that includes the "Fix #<issue>" line.

[2016-07-26 16:48] linclark commented on #89
Now that the work on source maps in the current console is done, @jbhoosreddy will be taking this on.

[2016-07-26 16:58] linclark opened #169 "Automate creation and update of stubs"
With #162, we'll be using `stubConsoleMessages` in unit/integration tests. Currently, these are assembled by hand. However, we could write a script to automatically generate them. I think building off of https://github.com/janodvarko/prototypes will make it easy to write an npm script that builds the files for us.

[2016-07-26 17:56] linclark commented on #162
This is all in review now.

[2016-07-26 19:00] linclark opened #172 "Remove all category/severity cruft"
Follow-up to #164.

We had left these in so we could run the old tests against the new code. However, we've decided not to worry about that. This means we can remove all of the references to category/severity.

[2016-07-26 21:09] linclark opened #173 "Add tests for the backend"
There are some things that we can unit test in the backend.

- [ ] console.count()
  - If called multiple times with label / without label, is the counter incremented?
  - Are "external counts" handled? See browser_webconsole_count.js
- [ ] console.log()
  - Is the return order of packets from console api calls 1. consoleAPICall, then 2. evaluationResult (currently tested in browser_webconsole_out

[2016-07-27 14:00] linclark commented on #172
In places where we access the category or severity of ConsoleMessage, we probably want to use source and level respectively.

[2016-07-27 14:01] linclark commented on #66
@nchevobbe I think you're working on this, but correct me if I'm wrong.

[2016-07-27 14:06] nchevobbe commented on #66
I am, just need to figure out how to import/reference toolbox's `viewSourceInDebugger` (http://searchfox.org/mozilla-central/source/devtools/client/framework/toolbox.js#2284)

[2016-07-27 14:11] linclark commented on #66
It might be worth posting a WIP PR... that sounds like it could be related to some of the location stuff.

[2016-07-27 14:56] linclark commented on #121
This will land in m-c in [Bug 1289798](https://bugzilla.mozilla.org/show_bug.cgi?id=1289798)

[2016-07-27 14:57] #121 closed

[2016-07-27 15:59] bgrins commented on #66
I am, just need to figure out how to import/reference toolbox's viewSourceInDebugger (http://searchfox.org/mozilla-central/source/devtools/client/framework/toolbox.js#2284)

We could pass a reference to `toolbox` into the `NewConsoleOutput` constructor and then send `viewSourceInDebugger` down as props to various components.

[2016-07-27 17:02] linclark commented on #16
Since the tests that had separate heads are switching to mocha, we don't need this anymore

[2016-07-27 17:02] #16 closed

[2016-07-27 17:03] linclark commented on #46
This was fixed in #128

[2016-07-27 17:03] #46 closed

[2016-07-27 17:03] linclark commented on #98
This is fixed with the switch to mocha.

[2016-07-27 17:03] #98 closed

[2016-07-27 17:05] linclark commented on #48
This will be figured out as part of #152

[2016-07-27 17:05] #48 closed

[2016-07-27 17:39] linclark commented on #168
Added

[2016-07-27 17:39] #168 closed

[2016-07-27 18:03] nchevobbe commented on #66
Yes, I was hacking in this way. @linclark I think you landed the new test architecture right ? So maybe I should add test for console.trace (you said I could skip them since you were working on the switch) ?

[2016-07-27 18:12] linclark commented on #66
There are two more PRs waiting to land, #166 and #171

[2016-07-27 20:25] linclark commented on #162
done 🎉🎉🎉🎉🎉🎉🎉

[2016-07-27 20:25] #162 closed

[2016-07-27 20:32] linclark opened #176 "Clear messages when navigation packet is received"
When someone navigates to a new page, we should clear the messages from the store.

[2016-07-27 20:35] pelmers commented on #176
Is this issue a subset of #131?

[2016-07-27 20:44] bgrins commented on #104
We should support DAMP using the 'new-messages' event (similar to what we need for #99), and confirm that the console measurements don't regress with the new frontend.

This could be done with a try push where the frontend pref is flipped by default in devtools.js.

[2016-07-27 20:55] linclark commented on #176
Yes, it is. We need this part sooner than the rest, so this will stay focused on just clearing the messages in response to the navigation event.

[2016-07-27 21:17] pelmers commented on #176
I can take this bug.

[2016-07-27 21:36] bgrins commented on #162
:thumbsup: nice work!

[2016-07-27 22:43] bgrins commented on #176
I think this is already working via https://github.com/devtools-html/gecko-dev/blob/console-frontend/devtools/client/webconsole/jsterm.js#L964-L966

[2016-07-27 22:43] bgrins commented on #176
Is there a case where messages are *not* being cleared while navigating?  I think this is a worksforme

[2016-07-27 22:49] bgrins commented on #68
Sure, that's OK with me.

[2016-07-27 23:00] bgrins commented on #68
@linclark there isn't a webconsole packet associated yet with this (it's the 'will-navigate' event on the tab).  It's also different from normal logs in that there's no location.

So a couple of implementation questions:

* Should we have a new 'service message' component (a sibling of console-api-call, evaluation-result, console-command)?  Seems very similar to console-command.
* And, should we i

[2016-07-28 00:29] linclark commented on #68
It looks to me like chrome just [handles it as a console.log()](https://cs.chromium.org/chromium/src/third_party/WebKit/Source/devtools/front_end/sdk/ResourceTreeModel.js?dr=C&q=ResourceTreeModel&sq=package:chromium&l=258).

[2016-07-28 00:30] linclark commented on #176
I think you are correct.

[2016-07-28 00:30] #176 closed

[2016-07-28 15:17] jsnajdr commented on #89
There are `frame.js` and 'stack-trace.js` React components in `/devtools/client/shared/components` that do everything you need. Just plug them into the console markup.

[2016-07-29 13:43] linclark commented on #146
This will be fixed with #177-#179

[2016-07-29 13:43] #146 closed

[2016-07-29 13:44] linclark commented on #129
This is in review

[2016-07-29 13:54] linclark commented on #66
@nchevobbe those test PRs have landed, but there is some additional infra that will help with tests that will land in #178.

I think we can probably land this without the tests and then add them in the next sprint. That will make it possible to close out this sprint.

[2016-07-29 14:16] linclark commented on #99
I think we've scoped this one down to just "Get an end-to-end test working". My understanding from our conversation is that we're no longer trying to run the existing tests on the new frontend. @bgrins correct me if I'm wrong.

[2016-07-29 14:21] #139 closed

[2016-07-29 15:08] linclark opened #180 "Convert component tests to Enzyme"
In #178 I got Enzyme working. If there are no objections to the way it is working, then we should move all component tests to use it.

[2016-07-29 17:23] linclark commented on #129
This will land in m-c in [Bug 1290518](https://bugzilla.mozilla.org/show_bug.cgi?id=1290518)

[2016-07-29 17:37] pelmers commented on #68
<img width="1270" alt="screen shot 2016-07-29 at 10 36 18 am" src="https://cloud.githubusercontent.com/assets/2406051/17257740/4f6eb32e-5578-11e6-8265-7a5d4dab035c.png">
In this example I added the message as a console-command, but it's not very distinguishable from the surroundings.

[2016-07-29 18:06] linclark opened #181 "Figure out how to handle system messages consistently"
We have the following system-generated messages:

- Console clear (when console.clear() is called from a page)
- Navigated to
...

We may want to have a specific type for these, and perhaps a component.

[2016-07-29 18:09] linclark commented on #181
It may also be the case that we just want to console.log() for all of these things. That's what chrome is doing for at least some of these, and what we'll be doing for some in the short term. It might be the right long term solution, but we should make an explicit decision if that's the case.

[2016-07-29 19:44] linclark commented on #126
This will land in m-c in [Bug 1290545](https://bugzilla.mozilla.org/show_bug.cgi?id=1290545)

[2016-07-29 22:53] linclark opened #185 "Move requireHelper into separate module"
In order to use Enzyme's `mount`, we're going to need to use `requireHelper` in more places. We could have mocha load it, like [jsdom-global](https://github.com/rstacruz/jsdom-global) does, but I think we'll need to have it living in node_modules for that.

[2016-08-01 14:58] #167 closed

[2016-08-01 19:16] linclark opened #186 "Use require-hacker to load mocks in npm tests"
There are still some chrome privileged things like `Services` and `LocalizationHelper`. These break the mocha tests.

There is currently work going on in the devtools.html effort to de-chrome these. Until that happens, we can use the `require-hacker` to load mock versions in tests.

[2016-08-01 19:40] #129 closed

[2016-08-01 22:18] #126 closed

[2016-08-01 22:23] #185 closed

[2016-08-01 22:45] linclark commented on #186
This will land in m-c in [Bug 1291056](https://bugzilla.mozilla.org/show_bug.cgi?id=1291056)

[2016-08-01 22:46] #186 closed

[2016-08-01 23:06] linclark commented on #169
Pulling this into the sprint because it's going to be hard to keep the stubs up to date as we add new props.

[2016-08-02 14:55] linclark opened #191 "Figure out why checkout of mozilla-central doesn't respect pref"
I have a checkout of mozilla-central that I've been using to land things. It is currently not respecting the pref.

I don't think this is an issue with the code. I've gone back to `Bug 1282658. Part 8` and it still isn't respecting the pref in that checkout, even though we have that commit in our repo. Also, the folks from Taipei have been using the console to test their reps stuff.

I don't feel

[2016-08-02 15:04] bgrins commented on #191
What pref?  `devtools.webconsole.new-frontend-enabled` works for me in a local checkout

[2016-08-02 15:09] linclark commented on #191
Yes, that's the pref. I'm glad to hear that it's working for you. That's actually what I expect to be the case.

I'm not sure why my checkout of mozilla-central is doing this. Once we get an end-to-end test in, it should be easier to isolate the issue.

[2016-08-02 16:15] linclark commented on #191
This is also happening in `fx-team` in another repo for me at the moment. @bgrins, were you on the latest `fx-team` when you tried?

[2016-08-02 16:49] bgrins commented on #191
Just checked on fx-team tip with a clean profile and everything is working as expected - open console first time (it's old frontend), flip pref, close and reopen console (it's new frontend)

[2016-08-02 17:23] nchevobbe commented on #150
I can work on this

[2016-08-02 17:58] bgrins commented on #150
Thanks!  I've fixed the ConsoleOutput ones over in #190 but I think there are others when messages get rendered, like:

    Warning: Failed propType: Invalid prop grip of type number supplied to GripMessageBody, expected object. Check the render method of ConsoleApiCall.

[2016-08-02 17:59] linclark opened #192 "Add a simple end-to-end test"
This breaks out the first bit from #99

[2016-08-02 18:00] linclark commented on #192
This will land in m-c in [Bug 1291352](https://bugzilla.mozilla.org/show_bug.cgi?id=1291352)

[2016-08-02 18:11] linclark commented on #66
This will land in m-c in [Bug 1291358](https://bugzilla.mozilla.org/show_bug.cgi?id=1291358)

[2016-08-02 20:18] linclark commented on #191
Ok, it's working for me now. I fetched `mozilla-central` again and reset. I'm not sure whether it was something I was doing or that someone else's code was doing. I did notice that the top commit after fetching was `Backed out changeset eb7f310f128d (bug 1274626) for breaking unified builds` along with a whole bunch of other backouts... dunno if this could have any interaction ¯\_(ツ)_/¯

Annnnyway

[2016-08-02 20:18] #191 closed

[2016-08-02 22:29] #192 closed

[2016-08-02 22:46] linclark commented on #66
🎉

[2016-08-02 22:46] #66 closed

[2016-08-02 22:48] linclark commented on #91
@nchevobbe if you want to take this on that would be 💯

[2016-08-02 22:50] linclark commented on #140
I still need to go through and create a checklist for this one, so let's hold on that. I should be able to do that tomorrow.

[2016-08-03 07:14] nchevobbe commented on #91
@linclark sure !

[2016-08-03 19:10] linclark commented on #172
This will land in m-c in [Bug 1291832](https://bugzilla.mozilla.org/show_bug.cgi?id=1291832)

[2016-08-03 19:51] #172 closed

[2016-08-03 19:54] linclark opened #194 "Support messages coming in via logMessages"
Parent issue: #140

Where it is received: https://dxr.mozilla.org/mozilla-central/source/devtools/client/webconsole/webconsole.js#3294

Where it comes from: https://dxr.mozilla.org/mozilla-central/source/devtools/server/actors/webconsole.js#1418

Current test: https://dxr.mozilla.org/mozilla-central/source/devtools/shared/webconsole/test/test_nsiconsolemessage.html

Any work on this should include

[2016-08-03 19:58] linclark opened #195 "Support network event messages"
Parent issue: #140

Where it is received: https://dxr.mozilla.org/mozilla-central/source/devtools/client/webconsole/webconsole.js#3330

Where it comes from: https://dxr.mozilla.org/mozilla-central/source/devtools/server/actors/webconsole.js#1522

Current tests:
- [ ] browser_console_netlogging?
- [ ] https://dxr.mozilla.org/mozilla-central/source/devtools/shared/webconsole/test/test_network_get.ht

[2016-08-03 20:02] linclark opened #196 "Support network event update messages"
Parent issue: #140

Where it is received: https://dxr.mozilla.org/mozilla-central/source/devtools/client/webconsole/webconsole.js#3348

Where it comes from: 10 different places, starting here https://dxr.mozilla.org/mozilla-central/source/devtools/server/actors/webconsole.js#2064

[2016-08-03 20:06] linclark opened #197 "Support file activity messages"
Parent issue: #140

Where it is received: https://dxr.mozilla.org/mozilla-central/source/devtools/client/webconsole/webconsole.js#3364

Where it comes from: https://dxr.mozilla.org/mozilla-central/source/devtools/server/actors/webconsole.js#1599

Current test: https://dxr.mozilla.org/mozilla-central/source/devtools/shared/webconsole/test/test_file_uri.html

[2016-08-03 20:08] linclark opened #198 "Support reflow activity messages"
Parent issue: #140

Where it is received: https://dxr.mozilla.org/mozilla-central/source/devtools/client/webconsole/webconsole.js#3370

Where it comes from: https://dxr.mozilla.org/mozilla-central/source/devtools/server/actors/webconsole.js#1620

Current test: https://dxr.mozilla.org/mozilla-central/source/devtools/shared/webconsole/test/test_reflow.html

[2016-08-03 20:17] linclark opened #199 "Support server log call messages"
Parent issue: #140

Where it is received: https://dxr.mozilla.org/mozilla-central/source/devtools/client/webconsole/webconsole.js#3386

Where it comes from: https://dxr.mozilla.org/mozilla-central/source/devtools/server/actors/webconsole.js#1640

Current test:
  - browser_console_server_logging.js

[2016-08-03 20:19] linclark opened #200 "Support private context exited messages"
Parent issue: #140

Where it is received: https://dxr.mozilla.org/mozilla-central/source/devtools/client/webconsole/webconsole.js#3402

Where it comes from: https://dxr.mozilla.org/mozilla-central/source/devtools/server/actors/webconsole.js#1740

Current test: ?

[2016-08-03 20:25] linclark commented on #140
Ok, I created an issue for each of these.

In this issue, I think we can just add the `if NEW_CONSOLE_OUTPUT_ENABLED` handling to each of the handlers in `client/webconsole.js`.

After this, we'll need to change the handling in `utils/messages.js`. Currently, if it doesn't understand the type it defaults to handling it as an evaluation result. Instead, we should have the default case just be a bla

[2016-08-03 22:20] linclark commented on #150
@nchevobbe I can work on this tomorrow if you haven't already started. I've seen these React warnings before in other projects, so it should be pretty quick. Let me know if you've already started and want to keep going on it, though.

[2016-08-04 05:05] nchevobbe commented on #150
okay go ahead, I did not start yet

[2016-08-04 17:20] linclark opened #202 "Consider removing classes around things like console.trace()"
In the current console, we do things like

[code]

Would it make sense to just have this (and others like it such as console.table) as a string? I believe that's what Chrome is doing (though I haven't checked their source for this).

This would make for simpler code paths.

@bgrins what do you think?

[2016-08-04 17:32] bgrins commented on #202
I don't feel really strongly about it.  If it simplifies things I'd be alright with it

[2016-08-04 17:45] nchevobbe commented on #202
I kinda like it like this
As a plain string it feels a little dull
Maybe we could have a special class for "titles" ( console.trace(), console.table(), console.group()'s label ... ) ?

[2016-08-04 18:06] linclark opened #203 "Add a test for console.trace()"
Forgot to add this followup when I merged the PR.

[2016-08-04 18:07] linclark commented on #202
That suggestion works for me. I'm going to go ahead and do this in #150.

[2016-08-04 18:07] #202 closed

[2016-08-04 20:07] linclark commented on #150
This will land in m-c in [Bug 1292322](https://bugzilla.mozilla.org/show_bug.cgi?id=1292322)

[2016-08-04 20:08] #150 closed

[2016-08-04 20:10] linclark commented on #99
This will land in m-c in [Bug 1292325](https://bugzilla.mozilla.org/show_bug.cgi?id=1292325)

[2016-08-04 20:15] #99 closed

[2016-08-04 20:23] bgrins commented on #99
We can include talos runs on the try push in the bug with `-t all` on the try syntax

[2016-08-04 20:24] linclark commented on #99
✨

[2016-08-05 05:48] nchevobbe commented on #91
I think I'm gonna handle https://github.com/devtools-html/gecko-dev/issues/90 in the same PR.

[2016-08-05 05:57] nchevobbe commented on #90
I was thinking about this and how to design the expanded/collapsed state of the stacktrace.
Adding a `open` property on the ConsoleMessage record seems to be the easiest way to do this. I would then only have to dispatch an action from the collapse button and handle the CSS class accordingly.
However it may clutter the message record with data relative to the application state, not the message its

[2016-08-05 17:44] linclark commented on #91
Ah good, I was thinking about that. I think it makes a lot of sense.

[2016-08-05 19:05] linclark commented on #90
This is a really good question.

We will also have inline object inspection in phase 2. Once we have that, we'll likely need to keep track of which objects have been toggled open. Because of that, I'm thinking that keeping track of message UI state separately (like you suggest with the `opened` propery) might make sense.

[2016-08-10 17:49] nchevobbe commented on #145
console uses PluralForm for the title (http://searchfox.org/mozilla-central/source/devtools/client/webconsole/webconsole.js#1137), which is currently a jsm script. I guess we should migrate this into a proper js file in light of devtools.html

[2016-08-10 19:54] nchevobbe opened #207 "Add support for console.time()"
Add support for console.time() and console.timeEnd()

I'm working on it right now

[2016-08-10 20:14] nchevobbe commented on #207
I'm working on this quickly.

I was curious to see what the code below output in the current console :
[code]
-> We don't show anything.
In Chrome, they output :
`default: 2544.671ms`

I think it might make sense to have this too in our console. I think this might require some change server side, because in the code above, the message packet does not have the `timer` object at all.

---

Another t

[2016-08-11 19:08] linclark commented on #89
This will land in m-c in [Bug 1294498](https://bugzilla.mozilla.org/show_bug.cgi?id=1294498)

[2016-08-11 19:09] #89 closed

[2016-08-11 19:10] linclark commented on #90
This will land in m-c in [Bug 1294499](https://bugzilla.mozilla.org/show_bug.cgi?id=1294499)

[2016-08-11 19:21] linclark commented on #140
@nchevobbe Are you working on this one? If not, I can go ahead and take it.

[2016-08-11 19:37] linclark opened #210 "Update stubs"
Breaking out the stub update from #169 so that I can move forward on tests while it's in review.

[2016-08-11 19:37] linclark commented on #210
This will land in m-c in [Bug 1294505](https://bugzilla.mozilla.org/show_bug.cgi?id=1294505)

[2016-08-11 19:43] #210 closed

[2016-08-11 20:19] linclark commented on #203
This will land in m-c in [Bug 1294517](https://bugzilla.mozilla.org/show_bug.cgi?id=1294517)

[2016-08-11 20:23] nchevobbe commented on #140
I haven't done anything for now. I was planning to work on this after the #90 & #207 . But if you want to take it, go ahead

[2016-08-11 20:55] #91 closed

[2016-08-11 21:02] nchevobbe commented on #90
Closed #90 via #206.

[2016-08-11 21:02] #90 closed

[2016-08-11 21:26] linclark commented on #198
We might remove this per https://bugzilla.mozilla.org/show_bug.cgi?id=1003107

[2016-08-11 21:27] linclark commented on #199
@bgrins do we want to keep this feature?

[2016-08-11 21:35] linclark commented on #104
@bgrins does anything else need to happen for this?

[2016-08-11 21:42] linclark opened #213 "Incorporate HTTP inspector"
Depends on #195 and #196

In the current console, when you have an HTTP request, you can see the details for that request using a toggle. Most of this code is already React, so it should just require wiring it up.

[2016-08-12 16:47] linclark commented on #195
I talked about this with @janodvarko and he was interested in taking it on. Honza, I'll mention you in here when it's ready. It depends on #140

[2016-08-14 00:19] linclark opened #214 "consider testing actions with redux-actions-assertions"
http://redux-things.github.io/redux-actions-assertions/

[2016-08-15 17:50] linclark commented on #140
As I look at this closer, I think it might make sense to take care of each in their own issue. I'm going to close this one out in favor of the child issues.

[2016-08-15 18:04] linclark commented on #195
@janodvarko After looking more closely at #140, I think it makes sense to handle everything in this issue.

Here's what I think needs to happen:

1. Change the `_onNetworkEvent` code in `webconsole.js` to something like this:

[code]

2. Add handling for network event packets in `utils/messages.js`. This should convert our packet structure to Chrome RDP's packet structure. You can figure out the C

[2016-08-15 19:56] linclark commented on #68
This will land in m-c in [Bug 1295254](https://bugzilla.mozilla.org/show_bug.cgi?id=1295254)

[2016-08-15 20:06] #68 closed

[2016-08-15 20:09] linclark opened #216 "Add tests for navigation marker"
See #215

[2016-08-15 22:39] linclark commented on #169
This will land in m-c in [Bug 1295337](https://bugzilla.mozilla.org/show_bug.cgi?id=1295337)

[2016-08-15 22:48] linclark commented on #169
This will land in m-c in [Bug 1295346](https://bugzilla.mozilla.org/show_bug.cgi?id=1295346)

[2016-08-15 22:50] linclark commented on #207
This will land in m-c in [Bug 1295347](https://bugzilla.mozilla.org/show_bug.cgi?id=1295347)

[2016-08-16 12:32] linclark opened #217 "Handle tip-of-tree version of Chrome protocol"
There is a stable version of the Chrome protocol and a tip-of-tree version.

`ConsoleMessage.parameters` have been [removed](https://github.com/ChromeDevTools/debugger-protocol-viewer/commit/acf8056789f0e1345fe9536f74f8a0a7ee174bbd#diff-22e7f1ed0925fad850e74056f3490040L1990) from tot and `ConsoleMessage.messageText` has been changed to `text`.

The 2nd change isn't too much of an issue, but the fi

[2016-08-16 15:36] #169 closed

[2016-08-16 21:52] bgrins commented on #200
Private messages are deleted in the browser console when a private window is closed.  There's an attribute set on messages here: https://dxr.mozilla.org/mozilla-central/source/devtools/client/webconsole/console-output.js#944-946.

In the case of page errors, 'private' appears to come through on the packet: https://dxr.mozilla.org/mozilla-central/source/devtools/client/webconsole/webconsole.js#1472

[2016-08-16 22:06] linclark commented on #198
We plan to deprecate this feature.

[2016-08-16 22:06] #198 closed

[2016-08-16 22:09] bgrins commented on #197
Originator of the packet: https://dxr.mozilla.org/mozilla-central/source/devtools/shared/webconsole/network-monitor.js#1868

[2016-08-16 23:07] bgrins commented on #104
We need to do a try push now with talos results and compare.  Once we land everything pending in fx-team I can do that

[2016-08-17 00:44] linclark commented on #195
@janodvarko given that the Chrome protocol is up in the air, let's postpone the conversion to Chrome packet structure. You can just copy the packet properties to a ConsoleMessage in utils/messages.js

FYI, if you need to add any properties to ConsoleMessage, you'll have to add it to the Immutable.Record definition in types.js

Let me know if you run into any obstacles or places where it gets confu

[2016-08-17 13:22] jsnajdr commented on #217
Does that mean that if I `console.log("hello", {prop:"world"})`, the object argument cannot be expanded and inspected in the console any more? Is there only a stringified representation now?

[2016-08-17 13:34] linclark commented on #217
After looking at it more closely, it seems that the Console domain has been deprecated and split into two. Console api messages are now in the [Runtime domain](https://chromedevtools.github.io/debugger-protocol-viewer/tot/Runtime/#event-consoleAPICalled). Other messages are handled by the [Log domain](https://chromedevtools.github.io/debugger-protocol-viewer/tot/Log/#type-LogEntry).

The `consoleA

[2016-08-17 13:41] jsnajdr commented on #217
Do the Console API calls (log, error, trace, ...) end up also in the Log domain, or just in the Runtime's `consoleAPIcalled`? To implement a full console client, you may need to listen for events from both sources. Some are just text messages, some have rich structure.

[2016-08-17 13:46] linclark commented on #217
In the previous version of the protocol, `console-api` was a source. If you look at the sources list in `LogEntry`, you'll see that there isn't a `console-api` listed in that enum anymore.

[2016-08-17 13:59] jsnajdr commented on #217
That supports the conjecture that you need to setup a `consoleAPIcalled` listener to see `console-api` messages and that they are not sent to the Log Domain at all.

The `LogEntry` structure is now simple enough to be easily forwarded to any other logging infrastructure - logstash/Kibana, Java logging APIs, syslog etc. Maybe easier interoperability is the reason for this change.

The Console API c

[2016-08-17 15:51] linclark commented on #217
I looked into it more. It may be that console API calls and evaluation results are the only thing we need grips for. Chrome's RDP was already handling evaluation results outside of the Console domain anyway, in the Runtime domain.

If those are the only two message types that we really needs grips for, then this change doesn't pose a problem. We'll need to move around some properties and create so

[2016-08-18 18:27] linclark opened #218 "Use packet stubs to test store"
We should be using packets in the store tests instead of ConsoleMessages so that we're following the exact same code path. This will implicitly test prepareMessage. We can also explicitly test prepareMessage easily once we have packet stubs.

[2016-08-18 18:58] linclark commented on #107
@jsnajdr this one should be pretty straightforward now. Do you mind giving it a look? We should be landing all of the commits from here to m-c today, so you could work on it as a patch in an hg checkout if you prefer.

[2016-08-18 18:59] linclark commented on #107
This will land in m-c in [Bug 1296389](https://bugzilla.mozilla.org/show_bug.cgi?id=1296389)

[2016-08-18 19:05] jsnajdr commented on #107
@linclark Yes, you can assign this to me. Do you prefer a PR here or a standard Mozilla patch? I'm using `git-cinnabar`, so using this repo is just a matter of setting up a new remote and a branch.

[2016-08-18 19:07] linclark commented on #107
If you don't have a preference, GitHub PR would be easier for me. Thanks!

[2016-08-18 20:19] linclark opened #219 "Remove/rewrite old tests"
This is necessary for the tests to pass when we pref on parts of the new console.

This is being tracked in two ways:
- A [Google doc](https://docs.google.com/spreadsheets/d/1ss3w0jY3S2oZxrdHZioGoZ65EUxYZBMZ_DzEGA6FNtw/edit#gid=0)
- A branch called `tracking-test-cleanup`

When I remove a test, I'll mark it grey in the Google doc. I'll also add a commit to the branch, indicating in the extended co

[2016-08-18 20:31] linclark opened #220 "Update text filtering and expand text filter tests"
- Additional cases in browser_webconsole_live_filtering_on_search_strings.js
- Ensure that search works against location as well, as in browser_webconsole_log_file_filter.js

[2016-08-18 20:45] #140 closed

[2016-08-18 20:47] linclark opened #221 "Add support for console.dir()"
Tests:

- [ ] browser_bug_862916_console_dir_and_filter_off.js
- [ ] browser_webconsole_bug_659907_console_dir.js

[2016-08-19 05:35] nchevobbe opened #223 "Show feedback for invalid consoleApi calls"
We could notify the user something is wrong when he does an incorrect call :

- `console.timeEnd("unmatched");`
- `console.groupEnd("unmatched");`
- `console.table(notAnArrayNorObject);`

Displaying a message like `There wasn't a prior console.time("unmatched") call`, `console.table should have an object or an array as argument`, ... , maybe with the link to the MDN page of the console ?

@helenvh

[2016-08-19 19:08] linclark commented on #134
This will land in m-c in [Bug 1296729](https://bugzilla.mozilla.org/show_bug.cgi?id=1296729)

[2016-08-19 19:09] #134 closed

[2016-08-19 21:04] bgrins commented on #104
Try push:
https://treeherder.mozilla.org/#/jobs?repo=try&revision=3f4e7790d525

Perfherder:
https://treeherder.mozilla.org/perf.html#/comparechooser?newProject=try&newRevision=3f4e7790d525

[2016-08-19 22:46] #207 closed

[2016-08-19 23:39] linclark opened #224 "Reimplement keyboard accessibility"
In the current console, the page up key scrolls up, etc. We need this in the new console.

Tests:
- [ ] browser_console_keyboard_accessibility.js
- [ ] browser_webconsole_bug_804845_ctrl_key_nav.js
- [ ] browser_webconsole_bug_623749_ctrl_a_select_all_winnt.js

[2016-08-22 16:26] linclark opened #226 "Factor out common HTML structures from message types"
Much of the structure of messages is common. We should factor out the parts that can be reused across message types.

We should wait to do this until we've implemented the set of important message types. If we do it too early, we might end up with premature generalization which leads to wrong abstractions. As Sarah Mei [says](https://twitter.com/sarahmei/status/702289102620614656), "If you're not

[2016-08-22 20:42] linclark commented on #218
This will land in m-c in [Bug 1297180](https://bugzilla.mozilla.org/show_bug.cgi?id=1297180)

[2016-08-22 20:43] #218 closed

[2016-08-22 20:51] bgrins commented on #223
FYI some similar things are being discussed in the spec, like https://github.com/whatwg/console/issues/60.  I haven't seen any discussion around timeEnd and groupEnd without a matching start but that's an interesting issue.

Also with console.table some differences between FF / chrome has been noted here: https://github.com/whatwg/console/blob/master/NOTES.md#consoletable---printing-of-strings, an

[2016-08-22 21:01] bgrins commented on #104
Ah, getting some damp errors on the try push due to different callback args in new-messages.  Here's a new one that makes it always call with a Set:

https://treeherder.mozilla.org/#/jobs?repo=try&revision=c74d60cc9f0a

[2016-08-22 21:06] bgrins commented on #104
Here's the updated perfherder link (ongoing): https://treeherder.mozilla.org/perf.html#/compare?originalProject=fx-team&originalRevision=95e17b89b519&newProject=try&newRevision=c74d60cc9f0a&framework=1&filter=damp&showOnlyImportant=0

[2016-08-23 14:39] #107 closed

[2016-08-23 19:01] linclark opened #228 "Decrement repeat ID when log messages are pruned"
I'm not sure that we actually want to do this, but it looks like it is functionality that [we test for](https://dxr.mozilla.org/mozilla-central/source/devtools/client/webconsole/test/browser_webconsole_bug_642108_pruneTest.js#72) in the current console.

I'm tempted to say we don't need this. To support it we would need to introduce much more complicated logic in the reducer.

@bgrins what do you

[2016-08-23 22:31] bgrins commented on #228
Yeah, that's quite an edge case that the pruned messages change the number of repeats.  My initial thought is that it's actually better behavior if the number of repeated messages doesn't change

[2016-08-23 22:59] linclark opened #229 "Add learn more link"
Currently in the web console we show learn more links. we need to add these to things like mixed content warnings.

Manual testing page:
- https://googlesamples.github.io/web-fundamentals/samples/fundamentals/security/prevent-mixed-content/image-gallery-example.html

[2016-08-24 11:49] nchevobbe commented on #145
Julian is working on the PluralForm.jsm migration ( https://bugzilla.mozilla.org/show_bug.cgi?id=1265887 ). We will be able to use the new one when his patch lands.

[2016-08-24 15:26] bgrins commented on #145
Semi-related: more webconsole localization work that will require a rebase from m-c due to a path change to the properties file https://bugzilla.mozilla.org/show_bug.cgi?id=1295609

[2016-08-24 15:52] linclark opened #230 "Split old console pageError tests into backend and frontend unit tests"
Currently pageErrors are tested with integration tests. We can convert these into unit tests.

The backend test would still be a mochitest. It should load the test page and ensure the correct packet is sent, comparing to a stub packet.

The frontend can then use that stub in a mocha test.

Tests to convert (list in progress):
- [ ] browser_webconsole_bug_737873_mixedcontent.js
- [ ] browser_webcon

[2016-08-24 16:39] linclark commented on #228
👍

[2016-08-24 16:39] #228 closed

[2016-08-24 19:18] linclark opened #231 "Add a small integration test for cached network messages"
We need to make sure that if the net monitor was opened and then switch over to the console, that the network messages show up there, and vice versa. This will likely copy a lot of the logic from browser_webconsole_shows_reqs_in_netmonitor.js and browser_netmonitor_shows_reqs_in_webconsole.js

[2016-08-24 19:23] nchevobbe commented on #65
I started to look at this, and I wonder how we should handle the fact that we don't directly have the object/table but just a preview.
In the current console, we asynchronously load the complete object : http://searchfox.org/mozilla-central/source/devtools/client/webconsole/console-output.js#1807 .

What I've been thinking of is something like :

1. when adding console.table message, check if ther

[2016-08-25 08:26] linclark commented on #65
That sounds like a good strategy.

Rather than a generic data received action type, I'm thinking that an action type more specific to the table might be better. Otherwise we would have to

[2016-08-25 09:37] linclark opened #232 "Test print()"
A test for print should be added to test_commands_other.html.

<del>Currently tests like browser_webconsole_output_01.js check that print outputs different strings from console.log sometimes. Before we implement similar tests, we should make sure this feature is working how we want it to. Chrome seems to be showing a print dialog in these cases. I honestly have never used print before. @bgrins Do

[2016-08-25 09:42] linclark commented on #232
Looks like this is in the [WHATWG spec](https://console.spec.whatwg.org/#nodejs-printer).

[2016-08-25 14:17] linclark opened #233 "Convert browser_webconsole_output_0*.js tests to mocha"
For many of these, new stubs will need to be added.

The current tests have an object with the following keys:

- input: this is passed into console.log()
- output (or consoleOutput): this is the expected output
- printOutput: this will be handled in #232
- inspectable: whether you can click on it for variables view
- variablesViewLabel: the label for the collapsible that represents the object in

[2016-08-25 15:02] linclark opened #234 "Convert browser_webconsole_dom_elements_*.js tests to mocha"
This should be handled in the same way as #233

The only additional property is inspectorIcon. This just says whether there should be the "select node in inspector" link.

[2016-08-25 15:08] bgrins commented on #232
`print` is a command line helper only (so not exposed to web content): https://dxr.mozilla.org/mozilla-central/source/devtools/server/actors/utils/webconsole-utils.js#909-919.  I believe the code in the spec is a reference implementation and also not exposed to the web.

It's won't take any work to keep `print` working in jsterm as-is, so I'd say let's keep it and revisit if we want to remove the

[2016-08-25 15:23] linclark opened #235 "Convert browser_webconsole_output_events.js to mocha"
This can probably be added to the test created in #233

[2016-08-25 15:27] linclark commented on #65
Btw, we should make sure to cover all of the test cases in browser_webconsole_output_table.js

[2016-08-25 15:33] linclark opened #236 "Convert browser_webconsole_output_regexp.js to mocha"
This can probably be added to the test from #233

[2016-08-25 15:52] bgrins commented on #233
I don't think we need to port this over

[2016-08-25 15:58] bgrins commented on #233
Here's the reason: https://bugzilla.mozilla.org/show_bug.cgi?id=1132501#c95 (which landed here: https://hg.mozilla.org/mozilla-central/rev/256e3e81fed7). Basically, clicking those functions will cause the debugger to open, so it's not there to assert anything in particular, just to make the test faster / less intermittent.

[2016-08-25 16:18] linclark opened #237 "Convert browser_webconsole_promise.js to mocha"
This can probably be added to the test that comes out of #233

[2016-08-25 16:45] steveck-chung commented on #195
@linclark I just started a WIP in https://github.com/steveck-chung/gecko-dev/commit/a9385917206ddd231a37681d0ca00256c1e37b84 , but make network event fit into ConsoleMessage confused me. Since there would have some differences between 2 logs, such like the the stacktracer in the console message would be network status + timestamps for network message. Should we create another schema for NetworkEve

[2016-08-25 16:54] nchevobbe commented on #65
So, I did what I should have done in the first place and read the doc for async actions in Redux ( http://redux.js.org/docs/advanced/AsyncActions.html ). It advises to have middlewares to handle those kind of actions. I checked the new debugger and they're also using middlewares ( https://github.com/devtools-html/debugger.html/blob/master/public/js/utils/create-store.js#L6 ).

From what I read her

[2016-08-25 17:21] linclark commented on #65
I'm thinking we can directly do the server call from there. You can see an [example](https://facebook.github.io/react/tips/initial-ajax.html) in the React docs.

That said, you're closer to the code on this, so if you think Redux async actions makes more sense we can think about it more.

[2016-08-25 17:37] linclark opened #238 "Add support for opening in scratchpad / style editor"
This can probably be achieved in the same way as the [support for opening in debugger](https://dxr.mozilla.org/mozilla-central/source/devtools/client/webconsole/new-console-output/new-console-output-wrapper.js#24).

Tests:
- [ ] browser_webconsole_scratchpad_panel_link.js

[2016-08-25 18:16] linclark commented on #195
@steveck-chung For now, lets create another one for NetworkEventMessage. Then we can decide whether to merge it back in

[2016-08-25 18:20] linclark opened #239 "Convert browser_webconsole_inspect-parsed-documents.js to mocha"
This can probably be added to the test from #233

[2016-08-25 18:53] linclark opened #240 "Add the stacktrace to page errors"
The pageError tests should include the other types of errors from browser_webconsole_exception_stackframe.js and ensure they have a stacktrace.

[2016-08-26 06:00] nchevobbe opened #241 "Clear all messages data in state when clearing messagesById"
In the messages reducer, when we deal with the `MESSAGE_CLEAR` action, we only reset the `messagesById` property :

[code]

We should also take care of the `messagesUiById` property since the message itself does not exists anymore.

@linclark , could you assign this to me please ?

[2016-08-26 08:54] linclark commented on #241
Good catch!

[2016-08-26 09:12] linclark commented on #203
This should include the tests from browser_webconsole_console_trace_duplicates.js

[2016-08-26 09:41] linclark opened #242 "Implement custom styles"
In the current webconsole, you can add your own styling to console log messages.

[code]

We need to reimplement this.

Tests:

- [ ] browser_webconsole_console_custom_styles.js

[2016-08-26 10:19] linclark opened #243 "Add support for console.dirxml()"
This just acts like console.log, so we should be able to just create a console.log ConsoleMessage when one comes in.

Tests:
- [ ] browser_webconsole_bug_922212_console_dirxml.js (we can edit this down to one test case)

[2016-08-26 16:59] linclark opened #244 "Add support for console.assert()"
Tests:

- [ ] browser_webconsole_assert.js

[2016-08-26 18:09] bgrins opened #245 "Flip the new frontend pref to false in the current webconsole head.js"
This way we can keep running the current tests even when we pref the new UI on in nightly

[2016-08-26 18:14] bgrins opened #246 "Focus outline flicker on #output-container"
If you click around inside the output area, you'll see a focus outline show up and disappear.  It appears to be on the #output-container element.  We should make that element not accept focus.

[2016-08-27 09:49] nchevobbe commented on #65
I think it would make sense to have a unit test for the `populateTableData` equivalent, because browser_webconsole_output_table assume the data is in a specific shape.

[2016-08-27 10:32] nchevobbe commented on #65
There is something weird in the current console : we only fetch the full set of data if the grip is an object or an array (
http://searchfox.org/mozilla-central/source/devtools/client/webconsole/console-output.js#1800 )

This means that for Map, Set, WeakMap, WeakSet, we only output what's in the `preview` property in the grip, which, for now, is limited to 10 items.

Maybe we do this on purpose ?

[2016-08-27 15:57] bgrins commented on #65
I don't think much is intentional here - I wouldn't try to copy our current implementation directly.  Some more links:
* a list of differences: https://github.com/whatwg/console/blob/master/NOTES.md#consoletable---printing-of-strings.  In most of these cases, I think the Chrome output is better.
* some more analysis: https://github.com/whatwg/console/issues/21

[2016-08-28 12:16] linclark commented on #245
In our convo about this we talked about possibly copying over some mochitests that are passing. @bgrins are you ok with me doing this? It would mean that we would have to ask any contributor who updated tests to copy the change to new console in the same patch (until we pref on the console for good)

[2016-08-29 07:43] steveck-chung commented on #195
Since I might not be able to finish this feature in the near future, I'll split the patch into different commits. This patch https://github.com/steveck-chung/gecko-dev/commit/a31ee47ae62ab3c320b69824c2aa8783cda6bf41 could display network event's method and url as messageText by using ConsoleMessage and ConsoleApiCall component. And I might need to create NetworkEventMessage/NetworkEvent component

[2016-08-29 08:54] linclark commented on #195
@steveck-chung thanks! could you submit it as a PR to this repo?

[2016-08-29 09:13] linclark commented on #219
I've finished the audit of browser mochitests.

- Grey tests have been removed. All of these are either obsolete or should be unit tests and have been captured as future work in this issue queue
- Orange tests likely should remain end-to-end tests. However, I expect them to fail because of `waitForMessages`
- Green tests should likely remain end-to-end tests and I think they should pass.
- Yellow

[2016-08-29 10:23] steveck-chung commented on #195
@linclark Sure I could submit the first part. Should I add some test for this(maybe in messages.test.js since I didn't create any additional component right now )?

[2016-08-29 11:04] linclark commented on #195
@steveck-chung Thank you for thinking of that. I'd say we can leave off the test until it's being formatted with the component.

[2016-08-30 08:25] rickychien commented on #194
I'm trying to work this out and any help would be appreciated.

[2016-08-30 08:45] linclark commented on #194
@rickychien thanks for the offer to help. This one is not currently high priority. Would you be interested in #244 instead?

[2016-08-30 08:48] #203 closed

[2016-08-30 08:55] rickychien commented on #244
@linclark

Where is the entry point for console.assert() when first getting started? thanks!

And is this console-fronted branch support artifact builds? Tried ./mach build many times but always get build failure.

[2016-08-30 09:17] nchevobbe opened #249 "Add store test for MESSAGES_CLEAR action"
We do not have a test for `MESSAGES_CLEAR` action, which is fired when will-navigate is called IIUC.

We should make sure that everything in the `messages` state property is reset to their original values.

[2016-08-30 09:27] nchevobbe commented on #241
Updated the title of this to take care of the same thing for `console.clear` calls

[2016-08-30 09:32] linclark commented on #249
@nchevobbe I think we do have a test, but it wasn't updated for the messages UI stuff. Is [this](https://dxr.mozilla.org/mozilla-central/source/devtools/client/webconsole/new-console-output/test/store/messages.test.js#69) not testing in the way you expect?

[2016-08-30 09:37] nchevobbe commented on #249
@linclark no, I don't think so. The test you linked to only take care of `console.clear` calls. I was talking about messageClear action, which is called when the page navigate, and when we click on the trash icon in the filter bar.
We do have an action test in the latter case, but we don't check the store for this action.

I pushed a PR (https://github.com/devtools-html/gecko-dev/pull/250) which d

[2016-08-30 18:36] bgrins commented on #244
The build system should be the exact same as m-c.  I've had intermittent issues with artifact builds in general so haven't switched to them - maybe if you clobber and try again it will work?  Or we might need to rebase from the latest revs on m-c if there's an issue with the build system.

[2016-08-30 18:41] bgrins commented on #244
I believe the message is already routed through to the console API call at an error level: https://github.com/devtools-html/gecko-dev/blob/console-frontend/devtools/client/webconsole/new-console-output/components/message-types/console-api-call.js and https://github.com/devtools-html/gecko-dev/blob/console-frontend/devtools/client/webconsole/new-console-output/utils/messages.js#L190.

In a quick te

[2016-08-30 20:01] bgrins commented on #245
I'm OK with it in general, but maybe we should try it out with a single test or two first since that might hit a lot of the issues and prevent having to duplicate as many changes.

[2016-08-30 23:30] bgrins commented on #245
For instance, we have bugs like https://bugzilla.mozilla.org/show_bug.cgi?id=1298230 and https://bugzilla.mozilla.org/show_bug.cgi?id=1298225 currently in flight that might require duplicate changes (haven't checked each test against the doc but I suspect there will be at least some overlap)

[2016-08-31 03:32] rickychien commented on #244
After asking on IRC, they confirmed that artifact builds doesn't support git. Only mercurial or git-cinnabar work well.

[2016-08-31 08:51] rickychien commented on #244
I noticed that console.assert() works as expected, so I'm going to ensure there is a test case for it.

[2016-08-31 09:29] rickychien commented on #244
Support Assertion failed text with Rep

<img width="841" alt="screen shot 2016-08-31 at 5 27 56 pm" src="https://cloud.githubusercontent.com/assets/958165/18123431/6236c6b2-6fa0-11e6-93c7-efc5a281148d.png">

[2016-08-31 10:02] linclark commented on #244
@rickychien that looks good to me in the dark theme, but I wonder what it looks like in the light theme. We can check that later and change it if necessary though

[2016-08-31 10:10] rickychien commented on #244
Update white theme and dark theme pictures. It seems that color is fine, I'm going to make sure that there is a test case for it.

[2016-08-31 12:20] linclark commented on #244
That sounds great. If you haven't run the mocha tests before, you can find instructions in the README (which is also shown on this repo's landing page)

[2016-08-31 18:23] bgrins opened #252 "Add newline at end of console messages for clipboard compat"
See https://bugzilla.mozilla.org/show_bug.cgi?id=1298225.

Not sure if it's best to inject the newline at the end of each component, or somehow globally when rendering each individual message component: https://github.com/devtools-html/gecko-dev/blob/83b437a4409c96b930245b873d8e29df619f071a/devtools/client/webconsole/new-console-output/components/message-types/console-api-call.js#L110 or in a loop

[2016-08-31 18:35] jsnajdr commented on #252
The legacy console-output has a feature where each message node has a `clipboardText` property, which can be set to any value independent from the HTML markup. The _Copy_ command in the context menu will then copy this value to the clipboard. Instead of the HTML node's `textContent`.

The `clipboardText` feature seems to be broken though and would deserve some cleanup and testing if it wasn't to b

[2016-08-31 18:46] bgrins commented on #252
Since we are already pretty close (and using a lot of the shared components that have just been cleaned up), I'd be OK with adding a new line to the markup for now.

If we end up wanting very different output for messages later on then adding a separate clipboardText seems like a good idea

[2016-08-31 23:03] #241 closed

[2016-08-31 23:05] nchevobbe commented on #249
Closed #241 via #250.

[2016-08-31 23:05] #249 closed

[2016-09-01 08:10] rickychien commented on #244
ConsoleAPICall component threw errors
[code]
I fixed it by a simple workaround that copy stub ```getStr()``` to a new ```getFormatStr()``` at devtools/client/webconsole/new-console-output/test/fixtures/L10n.js

I don't look at this for how to make complete ```getFormatStr()``` stub but it works now.

[2016-09-01 10:21] jsnajdr commented on #244
@rickychien Julian Descottes (:jdescottes) did some changes to the L10N code recently (in mozilla-central). He will know what's the right fix to the l10n errors.

[2016-09-01 12:53] nt1m opened #254 "Change how navigation markers look"
I think they should clearly separate different navigation sessions, we could use a thick separator before the "navigated to" message

[2016-09-01 12:54] nt1m opened #255 "Entering a command should automatically scroll the output to the bottom"
When you run a command, the console output should automatically scroll to where the command is displayed (to the bottom)

[2016-09-01 15:07] linclark commented on #254
Thanks for the suggestion. We have made the product decision to match Chrome for this (and many other features). This means that instead of having a navigation marker as we currently have it, there is instead a message that says `Navigated to <url>`.

[2016-09-01 15:11] linclark commented on #255
Agreed.

Steps to reproduce:

1. fill the console until the scroll appears
2. scroll to the top
3. press the up key so that you can run your command again and press enter

Expected result: the console scrolls to the bottom
Actual result: the console stays at the current scroll position

[2016-09-01 15:54] linclark opened #257 "Ignore irrelevant properties in stub generation"
When stubs are generated, the packet stubs will always have a different timestamp. For properties like these, we should make sure the incoming packet has the expected structure and then overwrite it with the existing stub's value so they don't have to change with each PR that adds a stub.

- [ ] timestamp
- [ ] actor ID

[2016-09-01 17:25] nchevobbe commented on #145
https://bugzilla.mozilla.org/show_bug.cgi?id=1265887 landed, we should be able to work on this once we merge the changes from M-C

[2016-09-02 07:10] rickychien commented on #195
@linclark I'd like to finish following part to create a react component for network message.

Should we file a separate issue to finish this?

[2016-09-02 07:39] #254 closed

[2016-09-02 08:40] linclark commented on #244
This will land in m-c in [Bug 1300057](https://bugzilla.mozilla.org/show_bug.cgi?id=1300057)

[2016-09-02 08:42] linclark commented on #195
That sounds great! I can commit the PR that Steve put up as Part 1, and then you can do the rest on top of that.

[2016-09-02 08:43] linclark commented on #195
This will land in m-c in [Bug 1300058](https://bugzilla.mozilla.org/show_bug.cgi?id=1300058)

[2016-09-02 08:59] rickychien commented on #244
Cool! thanks

[2016-09-02 09:10] #244 closed

[2016-09-02 09:17] linclark commented on #145
Just merged in changes from m-c.

[2016-09-02 09:19] linclark commented on #195
@rickychien I just committed the PR from Steve, so this should be ready for work. I also did a merge of the changes from m-c. When you fetch, you'll likely need to do a full build. We only merge from m-c every two weeks or so, so this doesn't happen too often.

[2016-09-02 09:21] rickychien commented on #195
Sure! I'm rebuilding now

[2016-09-02 09:21] linclark opened #258 "Add a default value for the open prop"
Currently we have warnings in tests because the `ConsoleApiCall` component has a required `open` prop that isn't always provided. We can add a default value of false for this.

[2016-09-02 09:46] rickychien commented on #195
@linclark
Since I'm going to create a new event object (an Immutable.Record) for NetworkEventMessage, so what's different between ConsoleMessage and NetworkEventMessage?

[2016-09-02 10:35] linclark commented on #195
@rickychien I haven't looked closely into the data that we need for NetworkEventMessages. We are trying to match Chrome RDP for a lot of things, so we might end up with something like [this](https://chromedevtools.github.io/debugger-protocol-viewer/tot/Network/#event-responseReceived).

For now, you can make your best guess based on what data comes in via the packet and what data you need in the c

[2016-09-02 19:49] nt1m commented on #254
@linclark Was this fixed?
I'm actually fine with showing Navigated to <website> like chrome, but it would be nice to have a better visual separation, eg. when you scroll the output quickly, you should be able to spot the message

[2016-09-03 20:42] nchevobbe opened #260 "Fix rep spacing for console"
When running `npm test` there are 2 errors :

[code]

[code]

[2016-09-05 07:33] linclark commented on #260
Ah, this is because of a [patch that landed](https://bugzilla.mozilla.org/show_bug.cgi?id=1284839) to fix spacing between the rep title and properties.

I would expect the second to fail. We want to have a space between the word "Date" and the actual date. I wouldn't expect the first to fail though. I'll have to look into that.

For now, I'll put up a PR that fixes the tests.

[2016-09-05 07:43] linclark commented on #260
I looked into it. The problem is that some reps were already handling spaces between the title and rest of the rep. The patch added a space in the case of a linked title but not a regular title. We only test regular titles explicitly in the rep tests. That's why the tests didn't fail when there were two spaces.

[2016-09-05 08:55] linclark commented on #260
This will land in m-c in [Bug 1300494](https://bugzilla.mozilla.org/show_bug.cgi?id=1300494)

[2016-09-05 09:53] #260 closed

[2016-09-05 10:09] linclark commented on #258
This will land in m-c in [Bug 1300510](https://bugzilla.mozilla.org/show_bug.cgi?id=1300510)

[2016-09-05 10:10] #258 closed

[2016-09-07 08:07] rickychien commented on #195
WIP preview for supporting network log

<img width="1022" alt="screen shot 2016-09-07 at 3 54 58 pm" src="https://cloud.githubusercontent.com/assets/958165/18304174/7aaf383c-7513-11e6-9888-fa50d39f55e2.png">

Status bar and click to enable netInfoBody will be part of NetworkUpdateEventMessage. I'm going to check what else remain for NetworkEventMessage

[2016-09-07 11:16] rickychien commented on #195
@linclark
I'm trying to support mixed-content style on top of message log and now we use ```WebConsoleUtils.isMixedHTTPSRequest()``` to check url but I've no idea how to get the url from current tab (the second parameter ```this.contentLocation```).

Do you have idea how to achieve that?

[2016-09-07 11:28] nchevobbe commented on #195
@rickychien it looks like `this.contentLocation` is assigned in `onLocationChange`, which is called in `handleTabNavigated` ( http://searchfox.org/mozilla-central/source/devtools/client/webconsole/webconsole.js#1980 ).
Maybe we could dispatch an action from there if the new console is activated, and store the `contentLocation` in the app state, so we can retrieve it easily  ?

[2016-09-08 03:56] rickychien commented on #195
@nchevobbe cool!
IIUC, We're going to create a locationChange action and dispatch it in ```onLocationChange``` in webconsole (http://searchfox.org/mozilla-central/source/devtools/client/webconsole/webconsole.js#1948)
However, I don't know how to invoke ```store.dispatch(uiActions.locationChange(uri))``` within webconsole.js? Is it possible to export the same store object from new-console-output-wr

[2016-09-08 08:09] rickychien commented on #195
@nchevobbe Thanks! it works

[2016-09-09 12:46] linclark opened #263 "pageErrors should include the location"
STR:

1. create a `index.html` file without a character encoding, e.g. `<script></script>`
2. load the file

Expected result: the character encoding error displays with `index.html` as the location
Actual result: there is no location

[2016-09-09 15:04] linclark commented on #240
This test only checks the stacktrace for the first. The other two seem to just be in the test to ensure they produce errors.

We can test that the others produce errors in backend tests, so I added them to #173. I'm repurposing this issue to add the stacktrace to page errors.

[2016-09-09 15:05] linclark commented on #240
This will land in m-c in [Bug 1301695](https://bugzilla.mozilla.org/show_bug.cgi?id=1301695)

[2016-09-12 07:09] rickychien opened #265 "Support mixed content for network event messages"
Parent issue: #140

There is an existed bug when showing mixed content for network log. AFAIK, mixed content warning only appear in:
https://people.mozilla.org/%7Etvyas/mixedboth.html
but doesn't appear in:
https://googlesamples.github.io/web-fundamentals/samples/fundamentals/security/prevent-mixed-content/simple-example.html

We should make sure warning message display properly on both of above w

[2016-09-12 20:21] #240 closed

[2016-09-12 20:48] linclark commented on #220
This is weird...

[code]

So if you log a URL, it will match it even if the search string is `ht tp`... is this functionality we need to keep, @bgrins? Chrome doesn't seem to.

[2016-09-12 20:49] linclark commented on #242
We should also test that computed styles don't break text search.

[2016-09-12 21:17] bgrins commented on #220
No, let's not keep that behavior.  We can come up with and add in whatever kind of special search syntax we want later on but let's keep it simple for now

[2016-09-13 08:39] rickychien commented on #195
Test case for network event has been added!

[2016-09-13 15:05] linclark opened #266 "Don't show resource URIs in stacktrace"
When `console.trace()` is called directly in the console, it shows the resource URIs for the actors.

[2016-09-13 15:28] bgrins commented on #266
Odd that this is unique to the new frontend.  It seems like a backend issue if it's including resource URIs in the trace

[2016-09-13 15:35] linclark commented on #266
Yeah, that has me confused too. I'm assuming it's one of the following: 1) the new console gets the wrong property from the packet, or 2) there's some code in old console which cleans up the stacktrace. Still need to look into it though

[2016-09-13 16:11] linclark opened #267 "console.log("\u0007") breaks the world"
Not sure why this is because other unicode characters work. For example, /u9f2c works. I'm assuming that it's because 0007 is a control character.

FWIW, Chrome doesn't show anything for this character.

[2016-09-13 18:44] linclark opened #269 "Add e2e test for clicking on network event message url"
Follow up for #195

We can't unit test this easily, so should have an e2e test to cover it.

[2016-09-13 18:54] nchevobbe commented on #266
I can have a look and see what's wrong

[2016-09-13 19:00] linclark commented on #220
This will land in m-c in [Bug 1302515](https://bugzilla.mozilla.org/show_bug.cgi?id=1302515)

[2016-09-13 19:01] #220 closed

[2016-09-13 19:02] nchevobbe commented on #266
![screenshot at sept 13 21-00-34](https://cloud.githubusercontent.com/assets/578107/18487350/24f7c058-79f5-11e6-8518-6424ace0c20e.png)

@linclark Do you talk about that ? Because I see it too in the old console. We could still have a look and remove it from the stack in `utils/message.js`'s `transformPacket`

[2016-09-13 19:04] bgrins commented on #266
I'm generally OK with the "debugger eval code" source link since if you type console.trace() into the console input

[2016-09-13 19:05] linclark opened #270 "Match against stacktrace in text filter?"
This is currently supported in Firefox but not in Chrome. @bgrins, any opinions on whether we should support it?

I'm thinking yes, but not high priority.

[2016-09-13 19:12] linclark commented on #266
Everything below anonymous is what I'm talking about... does it not show up for you?

<img width="1249" alt="restore_session" src="https://cloud.githubusercontent.com/assets/105464/18487748/66b71452-79c4-11e6-8d66-5c9a12d195d6.png">

[2016-09-13 19:14] bgrins commented on #266
Oh, I see it in the browser console (old frontend) but not in the webconsole (new or old frontend)

[2016-09-13 19:14] bgrins commented on #266
*if* this is only an issue in browser console I'd say it's a wontfix

[2016-09-13 19:23] linclark opened #271 "Fix missing icons/backgrounds"
The warning/error icons and backgrounds went missing. I have a feeling this relates to #225

[2016-09-13 19:38] bgrins commented on #270
We should definitely support it.  Agreed it's not super high priority but it's probably also fairly easy

[2016-09-13 19:40] linclark commented on #266
@bgrins so I see it in the webconsole with new frontend... am I the only one? Maybe this is a BT profile issue and I just opened the browser toolbox in a different order?

[2016-09-13 19:53] linclark commented on #266
So on a rebuild, this went away. I have no idea what could have caused that. I definitely wasn't looking at the browser console.

I have seen this issue before, so will re-report it if I see it again.

[2016-09-13 19:53] #266 closed

[2016-09-13 20:18] linclark commented on #271
So at least one of the issues is that we used to have an `exception` category, but when we switched to Chrome RDP that became `javascript`. This has an impact because when we are styling based on level, we are applying different styles based on category as well.

For example:

[code]

@bgrins do you think we can simplify the rules and just apply one set of rules each for `.error`, `.warn`, etc?

[2016-09-13 21:07] bgrins commented on #271
So you are saying keep the old rules but modify the new one to just apply the same icon for all errors?  Something like:

    .message[category=console][severity=error] > .icon::before,
    .message[category=output][severity=error] > .icon::before,
    .message[category=server][severity=error] > .icon::before,
    .message.error > .icon::before {
       background-position: -12px -36px;
    }

We

[2016-09-13 21:10] linclark commented on #271
Exactly.

sounds sensible

[2016-09-14 02:52] rickychien commented on #196
@linclark yes, I told Honza and promised that I'm going to fix network message related issues. Please assign me thanks!

[2016-09-14 21:08] linclark opened #275 "Remove quotes around strings"
In current Firefox/Chrome, `console.log("1")` will output `1`. In new frontend, we output `"1"`, but we should change this.

[2016-09-14 22:01] linclark commented on #275
This will land in m-c in [Bug 1302873](https://bugzilla.mozilla.org/show_bug.cgi?id=1302873)

[2016-09-14 23:17] linclark opened #277 "Add rep for long strings"
Currently, long strings just show up as a blank line.

STR:
1. `Array(10000).fill("a").join("")`

[2016-09-15 00:06] nchevobbe commented on #277
There might be a bug in the String Rep, because
[code]
does show a truncated string :
[code]

[2016-09-15 00:37] nchevobbe commented on #277
I dug a little and found the issue.
[code]
does not return directly a string, but a grip with a `longString` type.

Then, in reps.js `getRep` function, we check `grip.class`, which is `undefined` in this case. So it uses the default Rep which is the Object one. And because there's no property, nothing shows up.

If you store the long string in a global, you can access it in the DOM Panel, and you'

[2016-09-15 10:57] nchevobbe commented on #277
After talking with Honza about that, I created a bug https://bugzilla.mozilla.org/show_bug.cgi?id=1302982 , and will handle it through the traditional workflow. I think we can close this issue

[2016-09-15 14:45] linclark commented on #277
Great, thanks!

[2016-09-15 14:45] #277 closed

[2016-09-15 16:04] linclark opened #278 "Fix stub generators"
Currently, only a set number of stubs (either 10 or 11) can be generated using the stub generator. After that, we believe some platform caching gets triggered and so the same stub will be recorded for all the following snippets.

We can avoid this by cache busting the `test-tempfile.js` file.

[2016-09-15 16:07] #195 closed

[2016-09-15 17:40] linclark commented on #270
This will land in m-c in [Bug 1303101](https://bugzilla.mozilla.org/show_bug.cgi?id=1303101)

[2016-09-15 18:32] linclark commented on #263
@nchevobbe if you're looking for a quick fix for next week's challenge, this is a good one.

[2016-09-15 18:33] linclark commented on #263
I believe that it was caused by #107, and should just be putting the location variable (which is already in the file) back in the render function.

[2016-09-15 21:22] linclark commented on #278
This will land in m-c in [Bug 1303181](https://bugzilla.mozilla.org/show_bug.cgi?id=1303181)

[2016-09-15 21:23] #278 closed

[2016-09-15 22:55] nchevobbe opened #282 "Add tests for the location in consoleApiCall"
It would prevent to have regressions like https://github.com/devtools-html/gecko-dev/issues/263

[2016-09-16 15:22] linclark commented on #213
@rickychien if you're looking for a good next issue, this should be a good one.

[2016-09-16 15:55] linclark commented on #103
Closing this because we will test for this via #233

[2016-09-16 15:55] #103 closed

[2016-09-16 15:55] #97 closed

[2016-09-16 18:01] linclark opened #284 "Ensure context menu works"
We should go through all of the context menus and ensure that they still work.

- [ ] open url
- [ ] copy url
- [ ] open in variables view
- [ ] store as global variable
- [ ] copy
- [ ] select all

[2016-09-16 19:35] #275 closed

[2016-09-18 13:37] linclark opened #285 "Revisit location string cropping"
Currently, if there is a long string for a location, it is cropped in a not-helpful way.

For example:

[code]

is cropped to

[code]

I think we should introduce elipses in the middle of the URI and show the col/line numbers.

[2016-09-18 13:42] linclark commented on #263
This will land in m-c in [Bug 1303612](https://bugzilla.mozilla.org/show_bug.cgi?id=1303612)

[2016-09-18 14:05] linclark commented on #284
I'm not sure that the "Store as global" is working in old-console. @bgrins, let's talk about this tomorrow.

[2016-09-19 17:21] linclark commented on #271
This will land in m-c in [Bug 1303787](https://bugzilla.mozilla.org/show_bug.cgi?id=1303787)

[2016-09-19 17:33] linclark opened #286 "Page error locations show up as (unknown) in some cases"
<img width="1273" alt="twitter__it_s_what_s_happening_" src="https://cloud.githubusercontent.com/assets/105464/18642168/98ce82ce-7e6d-11e6-883d-f12bc747a0b1.png">

[2016-09-19 18:00] linclark opened #287 "Hide CSS page errors"
Currently there are some packets that come through as page errors which are actually CSS warnings.

For example, the following on Twitter.com:

[code]

We should find a way to separate these out from the other page errors. For now, we can simply not dispatch messages for them. If people ask where they've gone, we can reimplement them and the CSS filter to hide them.

[2016-09-19 18:17] linclark commented on #287
Turns out there is a [function](https://dxr.mozilla.org/mozilla-central/source/devtools/client/webconsole/webconsole.js#2912) in current web console that handles splitting these out:

[code]

[2016-09-19 18:28] linclark commented on #287
This will land in m-c in [Bug 1303812](https://bugzilla.mozilla.org/show_bug.cgi?id=1303812)

[2016-09-19 18:35] linclark opened #290 "Make it possible to filter network messages"
Related to #132.

Network requests are always visible at the moment. We should make it possible to turn off network messages.

[2016-09-19 18:39] nchevobbe commented on #290
Yes, I'm gonna look into it since we now support network messages. @linclark would you assign this to me please ? Thanks

[2016-09-19 21:41] linclark opened #291 "Make npm test work with devtools/client package.json"
Because of some interaction between npm, mocha, and babel, `npm test` doesn't work when there is a babel configuration for the package.json in devtools/client.

For now, we can just install babel at the higher level. We should eventually figure out how we want to handle multiple package.jsons, or a single package.json for all tools.

[2016-09-19 21:42] linclark commented on #291
This will land in m-c in [Bug 1303872](https://bugzilla.mozilla.org/show_bug.cgi?id=1303872)

[2016-09-19 21:46] #271 closed

[2016-09-19 21:47] #287 closed

[2016-09-20 00:10] linclark commented on #291
Just fixed this with da258943b0f333e3fb2562b99874d4ca3f679cda and bcc20ee1adf9f0fd23afdd0e10f749312fe2dbc3.

@nchevobbe @rickychien, this pulls in changes from m-c, so you'll need to rebase and also run `npm install` from the webconsole directory.

[2016-09-20 00:10] #291 closed

[2016-09-20 11:34] linclark commented on #246
This will land in m-c in [Bug 1303989](https://bugzilla.mozilla.org/show_bug.cgi?id=1303989)

[2016-09-20 12:22] linclark opened #292 "Rewrite e2e tests for new console"
I did the analysis in #219.

We should land at least some of these before turning on in nightly.

[2016-09-20 12:24] linclark commented on #292
This will land in m-c in [Bug 1304003](https://bugzilla.mozilla.org/show_bug.cgi?id=1304003)

[2016-09-20 15:40] linclark commented on #291
@nchevobbe Ricky and I just figured out that you need to force npm to download the latest version of redux-mock-store... `npm install redux-mock-store@1.2.0`

[2016-09-20 16:24] nchevobbe commented on #291
Thanks for letting me know

[2016-09-20 18:33] bgrins opened #295 "Use Menu API for context menu in output"
We should short circuit the XUL menu stuff in the current console when the new one is enabled, then switch to use the Menu API instead when a right click happens on the output area

[2016-09-20 18:35] bgrins opened #296 "Focus outline flicker on #output-container"
Dupe of #246

If you click around inside the output area, you'll see a focus outline show up and disappear. It appears to be on the #output-container element. We should make that element not accept focus.

[2016-09-20 18:49] bgrins opened #297 "Evaluation results that trigger errors aren't shown"
STR:
Run asdfa() in console input

Expected:
Error message

Actual:
undefined

[2016-09-20 19:07] #246 closed

[2016-09-20 20:54] bgrins commented on #245
Going to handle this in the bug for turning it on: https://bugzilla.mozilla.org/show_bug.cgi?id=1304178

[2016-09-20 20:54] #245 closed

[2016-09-20 21:08] linclark commented on #297
This will land in m-c in [Bug 1304185](https://bugzilla.mozilla.org/show_bug.cgi?id=1304185)

[2016-09-20 22:25] #297 closed

[2016-09-21 15:26] linclark commented on #296
This will land in m-c in [Bug 1304414](https://bugzilla.mozilla.org/show_bug.cgi?id=1304414)

[2016-09-21 15:27] #296 closed

[2016-09-21 18:01] nchevobbe commented on #44
FYI I started working on this ( and `console.groupCollapsed`)

[2016-09-22 19:20] #263 closed

[2016-09-22 19:45] linclark opened #305 "Fix cached message handling"
The current cached message handling bypasses `displayCachedMessages`. However, there is logic in there that we want (e.g. for displaying cached network events).

[2016-09-22 22:37] linclark commented on #290
This will land in m-c in [Bug 1304900](https://bugzilla.mozilla.org/show_bug.cgi?id=1304900)

[2016-09-22 22:40] #290 closed

[2016-09-23 12:38] nchevobbe opened #306 "Add reverse search in jsterm"
It would be very nice to have a reverse search similar to what the terminals have.
I would be triggered with <kbd>Ctrl</kbd>+<kbd>R</kbd> , and would display the last matching command.
We would then be able to navigate backward striking <kbd>Ctrl</kbd>+<kbd>R</kbd> again, or forward with <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>R</kbd>

I think we would need to mock this out, to see what to display,

[2016-09-23 12:45] nchevobbe opened #307 "Better navigation through history with multiline commands in jsterm"
One thing I find annoying is navigating through the history ( with the <kbd>↑</kbd> key ) when I have multiple lines command.
This is because when going through the history, the cursor gets placed in the last line, and only navigate to the previous entry when the cursor is on the first line ( or in the last line if we want to navigate with the <kbd>↓</kbd> key ).

We could have a shortcut like <kb

[2016-09-23 14:27] linclark commented on #305
It turns out that we aren't getting the cached network errors in the call to `WebConsoleClient::getNetworkEvents()`. I'm not sure why that is.

I'm going to put up a PR that fixes our handling of `displayCachedMessages`, but we'll need to have another issue that fixes the underlying issue.

[2016-09-23 14:36] linclark commented on #169
This will land in m-c in [Bug 1305064](https://bugzilla.mozilla.org/show_bug.cgi?id=1305064)

[2016-09-23 14:38] linclark commented on #305
This will land in m-c in [Bug 1305064](https://bugzilla.mozilla.org/show_bug.cgi?id=1305064)

[2016-09-23 14:42] bgrins commented on #307
Note: you can do cmd+up/down (or ctrl+up/down) which isn't quite what you want but limits the number of presses (it will skip straight to the beginning / end on the first press then continue navigating on the next).

I'm not sure if there is a meta key that we can use that wouldn't end up overriding some system behavior.  Maybe we could use alt, although at least on OSX it does modify the cursor n

[2016-09-23 14:44] bgrins commented on #307
Also relevant would be reverse-search through command history: https://bugzilla.mozilla.org/show_bug.cgi?id=1024913

[2016-09-23 15:22] nchevobbe commented on #307
I didn't know about cmd+up, thanks !

[2016-09-23 15:22] nchevobbe commented on #306
Ugh, there's an existing bugzilla bug with more thoughts on that : https://bugzilla.mozilla.org/show_bug.cgi?id=1024913

[2016-09-23 18:43] bgrins opened #309 "Improve performance of showing cached messages"
@linclark here's the WIP patch we went through earlier: https://github.com/bgrins/devtools-patches/blob/master/perf-stuff

[2016-09-23 18:44] bgrins commented on #309
This blocks #104

[2016-09-23 19:03] bgrins commented on #309
Something else we could do for non cached to improve the bulklog measurement (probably in another commit) would be to buffer up messages before dispatching them and then send them all as an array.

That can be tested on the Lots of Logs button here (caution, on new frontend right now it will jank the browser): http://bgrins.github.io/devtools-demos/console/stress.html

[2016-09-23 20:17] linclark commented on #309
We may be able to address both of these cases if we use a [batching reducer](https://twitter.com/dan_abramov/status/656074974533459968). James said they tried that in debugger and it made things [harder to test](http://logs.glob.uno/?c=mozilla%23devtools&s=21+Sep+2016&e=21+Sep+2016&h=debounce#c214682) for them.

I'm going to give it a try though, because if it works I think it will solve more prob

[2016-09-24 10:26] nchevobbe commented on #242
I'll work on this after the console.group is added since I have a bugzilla bug assigned for this ( https://bugzilla.mozilla.org/show_bug.cgi?id=1088900 )

[2016-09-26 13:20] #305 closed

[2016-09-26 13:49] linclark opened #311 "Get cached network messages"
As discussed in #305, the cached network messages aren't being delivered to the new console frontend. This probably means that we are missing a listener or something.

[2016-09-26 14:09] linclark opened #312 "Improve network event update stub generation"
Network event update stubs are hard to generate. We have a good start in place in #283, but there are a couple of flaws still.

1. It's hard to come up with a unique name for update stubs. Currently we do a pretty good job, but there are still places where we use the same key for multiple stubs.
2. It's hard to determine how many packets we should listen for. Currently it's hardcoded to 8, but tha

[2016-09-26 14:16] linclark opened #313 "Reduce performance impact of network event messages"
Currently each network message will cause many (e.g. 9) rerenders. This is because of the network event updates.

Since the current system mutates the object, we don't have to worry about collecting the state updates. This means we could just debounce it.

However, we may want to change the architecture of the client so that it doesn't mutate the object. In that case, we would probably want to add

[2016-09-26 14:18] linclark commented on #306
Ok, I'm going to close this one out in favor of the bugzilla one. We will likely be using a different system—either going back to Bugzilla, or using GitHub but not in a gecko-dev fork—after we finish work on phase 1.

[2016-09-26 14:18] #306 closed

[2016-09-26 14:19] linclark commented on #307
I'm going to close this one out since we will likely have switched to a different bug tracking system by the time we would work on this.

[2016-09-26 14:19] #307 closed

[2016-09-26 18:48] #309 closed

[2016-09-26 19:12] linclark commented on #65
This will land in m-c in [Bug 1305499](https://bugzilla.mozilla.org/show_bug.cgi?id=1305499)

[2016-09-26 19:17] #65 closed

[2016-09-26 19:31] linclark opened #314 "Temporarily remove collapsible and status from network messages"
We're going to be asking folks to try the new console out starting today. We plan to turn it on in Nightly soon.

To make sure that people aren't confused about what features are implemented, we should remove these pieces of the UI that are acting as placeholders. They can be re-enabled in the PRs that add the functionality.

[2016-09-26 19:37] linclark commented on #314
This will land in m-c in [Bug 1305509](https://bugzilla.mozilla.org/show_bug.cgi?id=1305509)

[2016-09-26 19:38] linclark commented on #314
Just pushed up the fix.

[2016-09-26 19:38] #314 closed

[2016-09-27 16:01] jlongster opened #315 "Small UX nit: expanding messages may drop you to the bottom"
This only happens if you haven't reached the bottom of the screen yet (I think?). If I have a few messages, with one that has expandable data, like this:

<img width="483" alt="screen shot 2016-09-27 at 11 58 22 am" src="https://cloud.githubusercontent.com/assets/17031/18881575/ddfd68e6-84a9-11e6-81df-1b5d3a74ac2f.png">

If I expand it, and it's really long, it drops me to the bottom of the expand

[2016-09-27 16:07] jlongster opened #316 "Long strings are unnecessarily truncated"
This is a warning that is printed to the old console:

"Warning: Factory.type is deprecated. Access the class directly before passing it to createFactory."

In the new console, it only shows:

"Warning: Factory.type is ...ing it to createFactory."

It truncates it but I don't think strings in the console should be truncated unless they are extremely long (like maybe 2000 chars or something?)

[2016-09-27 16:09] tromey opened #317 "css links do not open the style editor"
I've found that clicking on a CSS link in the console does not open the style editor.  Instead it tries to open the debugger, which doesn't know about the file, so nothing is shown.

STR:
* Open http://wordpress.com/
* Open the console
* Click on one of the CSS links.

[2016-09-27 16:11] linclark commented on #316
I believe this should be fixed by [Bug 1304804](https://bugzilla.mozilla.org/show_bug.cgi?id=1304804). Let me know if that doesn't fix it for you.

[2016-09-27 16:14] jlongster commented on #316
I bet it will; I don't have an up-to-build to apply a patch on right now (need to clobber build) but feel free to dupe this to that. It definitely seems like the same thing.

[2016-09-27 16:14] linclark commented on #316
Cool, thanks for pointing it out.

[2016-09-27 16:14] #316 closed

[2016-09-27 16:14] jlongster commented on #316
@bgrins can verify by just doing `console.warn("Warning: Factory.type is deprecated. Access the class directly before passing it to createFactory")` and making sure it's not truncated with his patch.

[2016-09-27 16:45] linclark commented on #213
I'm going to deprioritize this. Implementing this might introduce some performance issues in the short term, and we have more critical issues.

[2016-09-27 17:54] linclark commented on #127
This will land in m-c in [Bug 1305788](https://bugzilla.mozilla.org/show_bug.cgi?id=1305788)

[2016-09-27 18:09] bgrins commented on #316
Yes, Bug 1304804 will fix that (currently landed on autoland repo)

[2016-09-27 20:11] linclark opened #318 "Move loglimit pref to UI"
Originally, it seemed smart to have a Prefs part of the state tree that would be responsible for things that we persisted. However, since we will be persisting things across the rest of the state tree, we might as well move loglimit to UI.

[2016-09-28 04:11] rickychien commented on #213
@linclark What kind of performance issues you see for implementing HTTP inspector?

BTW, I did a survey and had an early stage WIP patch. I think it's a pretty challenging issue so far and there are lots of code needs to be refactored. Such as breaking up net-request.js into action, reducer and selector since net-request.js right now seems like a workaround to connect react NetInfoBody component w

[2016-09-28 07:00] captainbrosset opened #320 "CSS warnings are missing"
This might already be filed somewhere, but I couldn't find it, sorry about that.
CSS warnings seem to be missing in the new console output front-end.

STR:
- open the inspector
- open the split console
- select any element in the inspector
- in the rule-view, enter an invalid declaration like `foo:bar;`

Expected: a warning should be shown: "Unknown property ‘foo’.  Declaration dropped."
Actual: n

[2016-09-28 07:10] captainbrosset opened #321 "DOM nodes aren't being highlighted in the page on hover"
I searched github and bugzilla for this and couldn't find a relevant issue, so filing here:

STR:
- Open the console
- Enter `document.body`
- Hover over the output HTMLBodyElement

Expected: the <body> node should become highlighted in the page.
Actual: nothing happens.

[2016-09-28 07:12] captainbrosset opened #322 "There's no icon next to DOMNodes to select them in the inspector"
Similar to #321 :

STR:
- Open the console
- Enter `document.body`

Expected: next to the HTMLBodyElement output, there should be a little inspector icon.
Hovering over this icon should display a tooltip: "Click to select the node in the inspector".
Clicking on this icon should switch to the inspector panel and select the body element.

Actual: nothing happens.

[2016-09-28 07:16] captainbrosset opened #323 "TextNodes should also support highlight on hover"
#321 is about adding highlight on hover to DOMElements in the console.
This issue is about doing the same for TextNodes.

As of this bug https://bugzilla.mozilla.org/show_bug.cgi?id=1304679 we're able to highlight text nodes in Firefox DevTools, and it's very useful in some cases where text nodes have a different geometry than their parent element.
So, as you move your mouse over a text node in th

[2016-09-28 07:27] captainbrosset opened #324 "Performance issue when logging in a loop"
STR:
- open the console
- enter `for (let i = 0; i < 2000; i++) console.log("test log", i);`

With the old console front-end, I get an immediate result, I see the 2000 logs being output quickly in the console.
With the new front-end, the whole toolbox freezes, and in fact maybe the whole browser. I can't select another tab, clicks in the content page have no effects, I can't select another tool in

[2016-09-28 07:32] captainbrosset opened #325 "Display DOMNodes in a more user friendly way (i.e. not HTMLBodyElement but <body>)"
I'm fairly certain this got discussed at some stage either in a bug or on IRC, but after talking to @nchevobbe he said that didn't ring a bell to him, so I'm filing this just in case.

The old front-end used to display DOMNodes in a way that makes more sense to users, it used to preview them in 2 ways:

- compact: `<tag#id.class>`
- HTML: `<tag id="id" class="class">`

Right now, they get displaye

[2016-09-28 12:12] linclark commented on #320
Thanks for filing this.

We weren't sure whether people were using these. Since they aren't available in Chrome's console, we decided to turn them off and see if anyone raised it as an issue.

The only thing that we'll need to figure out before turning this back on is what we want the filter to look like. We currently have the levels and 2 categories, network and XHR. I worry that just adding CSS

[2016-09-28 12:16] linclark commented on #325
I agree, I think there is an issue in Reps for this. But I can't find it at the moment, so I'm going to leave this one open.

[2016-09-28 12:21] linclark commented on #324
Thanks for filing this. This issue was touched upon in #309, but we didn't have an issue for tracking it.

The reason for this is that we are doing a dispatch on each message. We can easily batch those dispatches for cached messages, but it's harder to do when the messages are coming in via separate events.

@bgrins we should probably revisit the throttling and see which tests were failing. We mig

[2016-09-28 12:26] linclark commented on #322
IIRC, this icon is available when DOM nodes are shown in some of the other tools as well. @captainbrosset Is that correct, or if it isn't, should they be?

If so, I think we want to handle it in a Rep. If not, we could likely add it in the `GripMessageBody`

[2016-09-28 12:27] linclark commented on #321
Thanks for filing. I haven't looked into it, but I bet this will be an easy fix.

[2016-09-28 12:38] linclark commented on #213
@rickychien Thanks for doing that research. To be honest, I haven't looked deeply into it. The performance issue that I foresee has to do with #313. Basically, if we dispatch for every network event update that comes in, we end up going through React's render cycle 9 times for each network message (instead of just once).

This could potentially keep us from landing #283, but I thought we might be

[2016-09-28 12:46] linclark commented on #311
@rickychien If you're looking for other issues, this is another high priority one.

[2016-09-28 12:56] linclark commented on #324
Another option would be to throttle from inside `messageAdd`. We could collect an array of prepared messages as they come through and only dispatch that (as a batch) every 50ms or so.

[2016-09-28 13:02] captainbrosset commented on #322
Yes we should handle this in the Rep, since it would be nice to have this icon in all tools that show DOM node previews. We do this at the moment in the variable-view, the animation-inspector, and obviously the console.
On the long run, it'd be nice for the markup-view to also use Reps to display the DOM tree, but there, we won't need the icon, so maybe the Rep should have accept an option that co

[2016-09-28 15:44] bgrins commented on #324
This sort of problem is being picked up by damp in try runs (in console.bulklog): https://treeherder.mozilla.org/perf.html#/comparesubtest?originalProject=try&originalRevision=ff39f20979ea&newProject=try&newRevision=333bcbacf930&originalSignature=2443f35ea4dcddc22273f07bad4be47e2d43d4a0&newSignature=2443f35ea4dcddc22273f07bad4be47e2d43d4a0&framework=1.

We should try throttling and see if that can

[2016-09-28 19:13] nchevobbe opened #326 "Add animation for collapse button"
Since there is one in the debugger (for example when toggling a folder in the source panel), it should behave the same in the console ( stacktrace, group, ... )

[2016-09-28 19:29] linclark commented on #326
We might be able to wait on this until we have more shared components between the two projects.

[2016-09-28 19:52] linclark commented on #255
This will land in m-c in [Bug 1306099](https://bugzilla.mozilla.org/show_bug.cgi?id=1306099)

[2016-09-29 00:57] linclark commented on #324
Just to capture an idea that we were spitballing over IRC:

We could move firing the "new-message" event to `componentDidMount`. This should ensure that tests don't fail when we throttle.

[2016-09-29 08:12] rickychien commented on #311
@linclark thank you for doing this :)

I think it's time to focus back on inspector de-chrome work from now but I'll back to here again and keep contributing in new webconsole front-end in my spare time.

[2016-09-29 11:44] #127 closed

[2016-09-29 13:46] linclark opened #328 "Fix the npm tests"
I forgot to run the npm tests before I committed #319.

FYI, I'm planning to remove the action unit tests. Now that we're using more complex action structures, they are harder to maintain, and I don't think they are buying us much. I think we can cover the same functionality in a better way using the store integration tests and the e2e tests.

[2016-09-29 15:27] linclark commented on #328
This was fixed with 7932032 and the commit before it. @bgrins @nchevobbe, FYI I pushed up a rebase. This includes the "prep for preffing on" commits that went direct to m-c

[2016-09-29 15:27] #328 closed

[2016-09-29 19:35] linclark opened #330 "Text filter breaks when message.frame is null"
In cases where the frame is null, typing in the text filter will result in this error.

[code]

[2016-09-29 20:01] nchevobbe commented on #44
I got the basic working, now I must see how to deal with filtering and pruning.

@helenvholmes , I'm not happy with what I have for collapsible group for now :

![screenshot at sept 29 21-49-16](https://cloud.githubusercontent.com/assets/578107/18969914/7c66b8ca-868f-11e6-9b2b-188c2f8396c9.png)

I think this could be much better. Do you think you could have design something quickly, especially reg

[2016-09-29 20:14] bgrins opened #332 "Reset filter prefs in between tests"
Right now we don't clean up filtering after browser_webconsole_filters.js finishes, so the error filter is off for the rest of the tests.  This'll eventually cause a problem, so we should make sure to reset it in a cleanup function in our head.js file

[2016-09-29 20:27] linclark commented on #330
This will land in m-c in [Bug 1306460](https://bugzilla.mozilla.org/show_bug.cgi?id=1306460)

[2016-09-29 20:28] #330 closed

[2016-09-30 01:17] linclark commented on #44
@nchevobbe even in their current raw design state, it is sooooo cool to see real live console.groups! So excited!

[2016-09-30 08:26] jnachtigall opened #333 "Allow me to close the side panel of the console"
See screenshot.
![nightly_allow_me_to_close_sidepanel_in_console](https://cloud.githubusercontent.com/assets/3307404/18985417/16b1634a-86f8-11e6-9e66-ffbfefd11238.png)

Once the side panel is open, then there's no way to close it again (except reloading the page or closing the whole devtools). In the inspector there are these "Collapse pane" / "Expand pane" buttons which might be used in the Conso

[2016-09-30 08:45] nchevobbe commented on #333
As a workaround, you can focus the variable view, and then hit the <kbd>Esc</kbd> key.
FYI, the variable view is not here to stay, we are planning to switch to some object inspection, although I don't know the detail yet

[2016-09-30 11:49] janodvarko opened #334 "Support for server side logging"
One of the features we ported from Firebug to DevTools (to make Firebug users migration simpler) is 'Server Side Logging'
https://developer.mozilla.org/en-US/docs/Tools/Web_Console/Console_messages#Server

The new Console front-end is currently missing the "Server" filter that enables this feature on the client.

Honza

[2016-09-30 12:16] linclark commented on #334
Thanks for filing. I'm going to mark it as a duplicate of #199, since we don't yet listen for the Server log calls. When we do, we could add the filter at that point.

[2016-09-30 12:16] #334 closed

[2016-09-30 12:36] linclark commented on #333
Thanks for posting the issue @jnachtigall. That's a really good point.

@nchevobbe is right, we are planning to remove the variables view in phase 2. Once that is done, you'll be able to inspect an object using a toggler that is output directly next to it. I'm going to close out this issue since it will be resolved when we switch to object inspector in the next phase of work.

[2016-09-30 12:36] #333 closed

[2016-09-30 14:24] linclark commented on #226
This will land in m-c in [Bug 1306622](https://bugzilla.mozilla.org/show_bug.cgi?id=1306622)

[2016-09-30 14:25] #226 closed

[2016-09-30 14:35] captainbrosset opened #335 "Can't copy output with ctrl+C"
STR:
- Output anything in the console, in my case I just had a bunch of strings
- Select the output text with the mouse
- Press ctrl+C (I'm on windows, haven't tested on Mac)

Expected: the text is now in my clipboard and can paste it somewhere
Actual: the test was not copied to my clipboard

There's also a contextmenu "copy" option, but I coudn't get it enabled. Even when right-clicking on the se

[2016-09-30 15:25] linclark opened #336 "Remove the message container component"
Now that #226 has landed, I think the component structure is pretty set. When we were originally working on the component code, I thought we might move more up to the container, but having the shared code at a lower level in the component tree turns out to be more useful. Therefore, I think we can just move the switcher logic up to ConsoleOutput's map function.

[2016-09-30 15:38] linclark commented on #335
Thanks for filing. This may be related to #224, but I'm going to leave it open until that has landed. We plan to land that before turning on in Nightly.

[2016-09-30 15:39] linclark commented on #335
And the context menu issue is #284. That is also in the "fix before turning on in Nightly" list

[2016-09-30 16:16] linclark commented on #315
@jlongster thanks for filing :) There couple a few issues with the current scroll, so I put up a PR that should fix them.

[2016-09-30 16:22] linclark opened #337 "Add mochitests tests for scrolling"
In #327 we worked to the scrolling behavior. We should have a mochitest for that.

I believe this is how it should work:

1. If 100 logs are added and then the console is opened, it should be at the bottom.
2. If the is scrolled scrolls to the bottom and new messages come in, they should be scrolled into view.
3. If the user scrolls up and new messages come in, the scroll position should be mainta

[2016-09-30 16:32] linclark opened #338 "Emit new-message from componentDidMount"
This will help ensure tests that depend on `waitForMessages` work.

This depends on #327, which turns Message into a class based component with a ref.

1. Pass the event emitter down to the Message component
2. In the Message component, emit the event from `componentDidMount` if `this.messageNode` is not null

[2016-09-30 19:12] linclark opened #340 "Use an action for force scrolling"
Discussed with Brian during the review of #327. We can have the messageAdd action creator watch for command and evaluation result messages. Then it can batch a FORCE_SCROLL action in with the message. This would then restore pinning to the bottom.

[2016-09-30 20:36] linclark commented on #282
This will land in m-c in [Bug 1306727](https://bugzilla.mozilla.org/show_bug.cgi?id=1306727)

[2016-09-30 20:37] #282 closed

[2016-09-30 20:56] #255 closed

[2016-09-30 20:56] #315 closed

[2016-09-30 21:36] linclark commented on #338
This will land in m-c in [Bug 1306751](https://bugzilla.mozilla.org/show_bug.cgi?id=1306751)

[2016-09-30 23:03] linclark opened #345 "Classes multiply as PageErrors and ConsoleCommands are added"
Turns out that `getDefaultProps` is cached, so "complex properties" (like arrays) are shared between instances. This means that, due to my refactor, we get an ever expanding string of classes.

[2016-09-30 23:05] linclark commented on #169
This will land in m-c in [Bug 1306774](https://bugzilla.mozilla.org/show_bug.cgi?id=1306774)

[2016-09-30 23:06] linclark commented on #345
This will land in m-c in [Bug 1306775](https://bugzilla.mozilla.org/show_bug.cgi?id=1306775)

[2016-09-30 23:12] #345 closed

[2016-09-30 23:37] linclark commented on #145
This will land in m-c in [Bug 1306781](https://bugzilla.mozilla.org/show_bug.cgi?id=1306781)

[2016-09-30 23:39] #145 closed

[2016-09-30 23:56] #338 closed

[2016-09-30 23:57] linclark commented on #324
This will land in m-c in [Bug 1306783](https://bugzilla.mozilla.org/show_bug.cgi?id=1306783)

[2016-10-01 00:17] #324 closed

[2016-10-01 13:13] linclark commented on #340
@bgrins @nchevobbe FYI, it looks like the batching PR broke scrolling for bulk logs, so I'll have to prioritize this.

[2016-10-02 14:16] linclark opened #348 "Make urls in output clickable"
In the current web console, clicking on URLs will open the link.

Tests:
- [ ] browser_webconsole_clickable_urls.js

[2016-10-03 16:28] nchevobbe opened #349 "Failure in "filters network messages" test"
STR :
1. `npm test`

I don't know what causes this yet

[2016-10-03 17:37] linclark commented on #349
shoot, this is probably due to the batching added in #344

[2016-10-03 17:47] linclark commented on #349
If it is, it's probably not actually broken. It's just that it delays the dispatch of `messageAdd`, which means it introduces the possibility for intermittents.

[2016-10-03 20:38] linclark commented on #224
This will land in m-c in [Bug 1307243](https://bugzilla.mozilla.org/show_bug.cgi?id=1307243)

[2016-10-03 20:46] linclark commented on #335
This was fixed with [Bug 1307198](https://bugzilla.mozilla.org/show_bug.cgi?id=1307198).

[2016-10-03 20:46] #335 closed

[2016-10-04 13:33] linclark commented on #349
@nchevobbe actually, this does fail for me when I have your branch for #339 checked out, but not on console-frontend. Can you check on your machine? It could still be an intermittent, but that makes me wonder whether there isn't an issue being introduced in that branch.

[2016-10-04 15:15] helenvholmes commented on #44
I agree, these look great!

Since you asked for designs I threw something together, although all of my suggestions are very minimal:

1. I would round off the edges of the group lines, and bump them down from 2px to 1.
2. I would use the ```var(--theme-splitter-color)``` for their background color. (They're guiding lines, so I think it's okay if they're faint.)
3. I would left-align line up the cl

[2016-10-04 17:46] nchevobbe commented on #44
Thanks for thinking about this @helenvholmes , i'll try to have those in my PR.

[2016-10-05 07:39] jnachtigall opened #350 "Individual line items hard to differentiate"
Dupe of https://bugzilla.mozilla.org/show_bug.cgi?id=879310 I would like to raise awareness about.

I think the line items would be much easier to read if they had alternating background colors like usually done for table rows with CSS `:nth-child(even)` or `:nth-child(odd)`. Especially if you have line items that stretch more than one line (which happens often when the devtools are attached at th

[2016-10-05 07:42] jnachtigall opened #351 "Warning symbol should be red (or yellow) and not greyish"
Previously the warning had a red warning symbol now it's just greyish and easy to overlook. See https://bug1306274.bmoattachments.org/attachment.cgi?id=8796138 and compare with the current at https://bug1306274.bmoattachments.org/attachment.cgi?id=8796443

(Distilled this bug report from from the comment at https://bugzilla.mozilla.org/show_bug.cgi?id=1306274#c2)

[2016-10-05 08:02] nchevobbe commented on #351
Thanks for reporting, I'll have a look at this

[2016-10-05 08:10] nchevobbe commented on #350
I don't really think zebra would be something we want for this, as it would be too "loud". But we can definitely experiments with things that would improve the readibility ( like more vertical padding around the message, separation lines on each message, ... ).
That's a job for @helenvholmes  :ok_woman: :)

Helen, I'm started to think that maybe we should refresh the look of the console. The icons

[2016-10-05 08:17] jnachtigall commented on #350
Or maybe just a little border-left with different colors, e.g. red for warning. Just an idea.

[2016-10-05 18:37] linclark commented on #117
This will land in m-c in [Bug 1307869](https://bugzilla.mozilla.org/show_bug.cgi?id=1307869)

[2016-10-05 18:37] #117 closed

[2016-10-05 18:40] linclark commented on #88
This will land in m-c in [Bug 1307871](https://bugzilla.mozilla.org/show_bug.cgi?id=1307871)

[2016-10-05 18:40] #88 closed

[2016-10-05 18:46] linclark commented on #44
This will land in m-c in [Bug 1307873](https://bugzilla.mozilla.org/show_bug.cgi?id=1307873)

[2016-10-05 18:46] #44 closed

[2016-10-05 18:46] linclark commented on #95
This will land in m-c in [Bug 1307874](https://bugzilla.mozilla.org/show_bug.cgi?id=1307874)

[2016-10-05 18:46] #95 closed

[2016-10-05 18:47] #104 closed

[2016-10-05 18:47] linclark commented on #106
This will land in m-c in [Bug 1307875](https://bugzilla.mozilla.org/show_bug.cgi?id=1307875)

[2016-10-05 18:47] #106 closed

[2016-10-05 18:48] linclark commented on #112
This will land in m-c in [Bug 1307876](https://bugzilla.mozilla.org/show_bug.cgi?id=1307876)

[2016-10-05 18:48] #112 closed

[2016-10-05 18:49] linclark commented on #118
This will land in m-c in [Bug 1307877](https://bugzilla.mozilla.org/show_bug.cgi?id=1307877)

[2016-10-05 18:49] #118 closed

[2016-10-05 18:50] linclark commented on #124
This will land in m-c in [Bug 1307878](https://bugzilla.mozilla.org/show_bug.cgi?id=1307878)

[2016-10-05 18:50] #124 closed

[2016-10-05 18:50] linclark commented on #125
This will land in m-c in [Bug 1307879](https://bugzilla.mozilla.org/show_bug.cgi?id=1307879)

[2016-10-05 18:50] #125 closed

[2016-10-05 18:51] linclark commented on #130
This will land in m-c in [Bug 1307880](https://bugzilla.mozilla.org/show_bug.cgi?id=1307880)

[2016-10-05 18:51] #130 closed

[2016-10-05 18:52] linclark commented on #131
This will land in m-c in [Bug 1307881](https://bugzilla.mozilla.org/show_bug.cgi?id=1307881)

[2016-10-05 18:52] #131 closed

[2016-10-05 18:52] linclark commented on #132
This will land in m-c in [Bug 1307883](https://bugzilla.mozilla.org/show_bug.cgi?id=1307883)

[2016-10-05 18:52] #132 closed

[2016-10-05 18:53] linclark commented on #133
This will land in m-c in [Bug 1307884](https://bugzilla.mozilla.org/show_bug.cgi?id=1307884)

[2016-10-05 18:53] #133 closed

[2016-10-05 18:54] linclark commented on #152
This will land in m-c in [Bug 1307885](https://bugzilla.mozilla.org/show_bug.cgi?id=1307885)

[2016-10-05 18:54] #152 closed

[2016-10-05 19:06] linclark commented on #351
This will land in m-c in [Bug 1307888](https://bugzilla.mozilla.org/show_bug.cgi?id=1307888)

[2016-10-05 19:06] #351 closed

[2016-10-05 19:07] linclark commented on #199
This will land in m-c in [Bug 1307889](https://bugzilla.mozilla.org/show_bug.cgi?id=1307889)

[2016-10-05 19:07] #199 closed

[2016-10-05 19:09] linclark commented on #197
This will land in m-c in [Bug 1307890](https://bugzilla.mozilla.org/show_bug.cgi?id=1307890)

[2016-10-05 19:09] #197 closed

[2016-10-05 19:11] linclark commented on #196
This will land in m-c in [Bug 1307892](https://bugzilla.mozilla.org/show_bug.cgi?id=1307892)

[2016-10-05 19:11] #196 closed

[2016-10-05 19:13] linclark commented on #194
This will land in m-c in [Bug 1307895](https://bugzilla.mozilla.org/show_bug.cgi?id=1307895)

[2016-10-05 19:13] #194 closed

[2016-10-05 19:13] linclark commented on #181
This will land in m-c in [Bug 1307897](https://bugzilla.mozilla.org/show_bug.cgi?id=1307897)

[2016-10-05 19:13] #181 closed

[2016-10-05 19:14] linclark commented on #180
This will land in m-c in [Bug 1307899](https://bugzilla.mozilla.org/show_bug.cgi?id=1307899)

[2016-10-05 19:14] #180 closed

[2016-10-05 19:15] linclark commented on #173
This will land in m-c in [Bug 1307902](https://bugzilla.mozilla.org/show_bug.cgi?id=1307902)

[2016-10-05 19:15] #173 closed

[2016-10-05 19:16] linclark commented on #265
This will land in m-c in [Bug 1307903](https://bugzilla.mozilla.org/show_bug.cgi?id=1307903)

[2016-10-05 19:16] #265 closed

[2016-10-05 19:16] linclark commented on #257
This will land in m-c in [Bug 1307905](https://bugzilla.mozilla.org/show_bug.cgi?id=1307905)

[2016-10-05 19:16] #257 closed

[2016-10-05 19:17] linclark commented on #252
This will land in m-c in [Bug 1307906](https://bugzilla.mozilla.org/show_bug.cgi?id=1307906)

[2016-10-05 19:17] #252 closed

[2016-10-05 19:17] linclark commented on #243
This will land in m-c in [Bug 1307907](https://bugzilla.mozilla.org/show_bug.cgi?id=1307907)

[2016-10-05 19:17] #243 closed

[2016-10-05 19:18] linclark commented on #242
This will land in m-c in [Bug 1307908](https://bugzilla.mozilla.org/show_bug.cgi?id=1307908)

[2016-10-05 19:18] #242 closed

[2016-10-05 19:18] linclark commented on #239
This will land in m-c in [Bug 1307909](https://bugzilla.mozilla.org/show_bug.cgi?id=1307909)

[2016-10-05 19:18] #239 closed

[2016-10-05 19:19] linclark commented on #238
This will land in m-c in [Bug 1307910](https://bugzilla.mozilla.org/show_bug.cgi?id=1307910)

[2016-10-05 19:19] #238 closed

[2016-10-05 19:19] linclark commented on #237
This will land in m-c in [Bug 1307911](https://bugzilla.mozilla.org/show_bug.cgi?id=1307911)

[2016-10-05 19:19] #237 closed

[2016-10-05 19:20] linclark commented on #236
This will land in m-c in [Bug 1307912](https://bugzilla.mozilla.org/show_bug.cgi?id=1307912)

[2016-10-05 19:20] #236 closed

[2016-10-05 19:20] linclark commented on #235
This will land in m-c in [Bug 1307913](https://bugzilla.mozilla.org/show_bug.cgi?id=1307913)

[2016-10-05 19:20] #235 closed

[2016-10-05 19:22] linclark commented on #234
This will land in m-c in [Bug 1307914](https://bugzilla.mozilla.org/show_bug.cgi?id=1307914)

[2016-10-05 19:22] #234 closed

[2016-10-05 19:22] linclark commented on #233
This will land in m-c in [Bug 1307915](https://bugzilla.mozilla.org/show_bug.cgi?id=1307915)

[2016-10-05 19:22] #233 closed

[2016-10-05 19:22] linclark commented on #232
This will land in m-c in [Bug 1307916](https://bugzilla.mozilla.org/show_bug.cgi?id=1307916)

[2016-10-05 19:22] #232 closed

[2016-10-05 19:23] linclark commented on #231
This will land in m-c in [Bug 1307917](https://bugzilla.mozilla.org/show_bug.cgi?id=1307917)

[2016-10-05 19:23] #231 closed

[2016-10-05 19:23] linclark commented on #230
This will land in m-c in [Bug 1307918](https://bugzilla.mozilla.org/show_bug.cgi?id=1307918)

[2016-10-05 19:23] #230 closed

[2016-10-05 19:24] linclark commented on #229
This will land in m-c in [Bug 1307919](https://bugzilla.mozilla.org/show_bug.cgi?id=1307919)

[2016-10-05 19:24] #229 closed

[2016-10-05 19:24] linclark commented on #224
This will land in m-c in [Bug 1307920](https://bugzilla.mozilla.org/show_bug.cgi?id=1307920)

[2016-10-05 19:24] #224 closed

[2016-10-05 19:25] linclark commented on #223
This will land in m-c in [Bug 1307921](https://bugzilla.mozilla.org/show_bug.cgi?id=1307921)

[2016-10-05 19:25] #223 closed

[2016-10-05 19:25] linclark commented on #221
This will land in m-c in [Bug 1307922](https://bugzilla.mozilla.org/show_bug.cgi?id=1307922)

[2016-10-05 19:25] #221 closed

[2016-10-05 19:26] linclark commented on #219
This will land in m-c in [Bug 1307923](https://bugzilla.mozilla.org/show_bug.cgi?id=1307923)

[2016-10-05 19:26] #219 closed

[2016-10-05 19:26] linclark commented on #217
This will land in m-c in [Bug 1307924](https://bugzilla.mozilla.org/show_bug.cgi?id=1307924)

[2016-10-05 19:26] #217 closed

[2016-10-05 19:27] linclark commented on #216
This will land in m-c in [Bug 1307925](https://bugzilla.mozilla.org/show_bug.cgi?id=1307925)

[2016-10-05 19:27] #216 closed

[2016-10-05 19:27] linclark commented on #214
This will land in m-c in [Bug 1307926](https://bugzilla.mozilla.org/show_bug.cgi?id=1307926)

[2016-10-05 19:27] #214 closed

[2016-10-05 19:28] linclark commented on #213
This will land in m-c in [Bug 1307927](https://bugzilla.mozilla.org/show_bug.cgi?id=1307927)

[2016-10-05 19:28] #213 closed

[2016-10-05 19:28] linclark commented on #200
This will land in m-c in [Bug 1307928](https://bugzilla.mozilla.org/show_bug.cgi?id=1307928)

[2016-10-05 19:28] #200 closed

[2016-10-05 19:31] linclark commented on #350
This will land in m-c in [Bug 1307929](https://bugzilla.mozilla.org/show_bug.cgi?id=1307929)

[2016-10-05 19:31] #350 closed

[2016-10-05 19:31] linclark commented on #349
This will land in m-c in [Bug 1307930](https://bugzilla.mozilla.org/show_bug.cgi?id=1307930)

[2016-10-05 19:31] #349 closed

[2016-10-05 19:32] linclark commented on #348
This will land in m-c in [Bug 1307931](https://bugzilla.mozilla.org/show_bug.cgi?id=1307931)

[2016-10-05 19:32] #348 closed

[2016-10-05 19:32] linclark commented on #340
This will land in m-c in [Bug 1307932](https://bugzilla.mozilla.org/show_bug.cgi?id=1307932)

[2016-10-05 19:32] #340 closed

[2016-10-05 19:32] linclark commented on #337
This will land in m-c in [Bug 1307934](https://bugzilla.mozilla.org/show_bug.cgi?id=1307934)

[2016-10-05 19:32] #337 closed

[2016-10-05 19:33] linclark commented on #336
This will land in m-c in [Bug 1307935](https://bugzilla.mozilla.org/show_bug.cgi?id=1307935)

[2016-10-05 19:33] #336 closed

[2016-10-05 19:33] linclark commented on #332
This will land in m-c in [Bug 1307936](https://bugzilla.mozilla.org/show_bug.cgi?id=1307936)

[2016-10-05 19:33] #332 closed

[2016-10-05 19:34] linclark commented on #326
This will land in m-c in [Bug 1307937](https://bugzilla.mozilla.org/show_bug.cgi?id=1307937)

[2016-10-05 19:34] #326 closed

[2016-10-05 19:34] linclark commented on #325
This will land in m-c in [Bug 1307938](https://bugzilla.mozilla.org/show_bug.cgi?id=1307938)

[2016-10-05 19:34] #325 closed

[2016-10-05 19:35] linclark commented on #323
This will land in m-c in [Bug 1307939](https://bugzilla.mozilla.org/show_bug.cgi?id=1307939)

[2016-10-05 19:35] #323 closed

[2016-10-05 19:35] linclark commented on #322
This will land in m-c in [Bug 1307940](https://bugzilla.mozilla.org/show_bug.cgi?id=1307940)

[2016-10-05 19:35] #322 closed

[2016-10-05 19:36] linclark commented on #321
This will land in m-c in [Bug 1307941](https://bugzilla.mozilla.org/show_bug.cgi?id=1307941)

[2016-10-05 19:36] #321 closed

[2016-10-05 19:36] linclark commented on #320
This will land in m-c in [Bug 1307942](https://bugzilla.mozilla.org/show_bug.cgi?id=1307942)

[2016-10-05 19:36] #320 closed

[2016-10-05 19:37] linclark commented on #318
This will land in m-c in [Bug 1307943](https://bugzilla.mozilla.org/show_bug.cgi?id=1307943)

[2016-10-05 19:37] #318 closed

[2016-10-05 19:37] linclark commented on #317
This will land in m-c in [Bug 1307944](https://bugzilla.mozilla.org/show_bug.cgi?id=1307944)

[2016-10-05 19:37] #317 closed

[2016-10-05 19:37] linclark commented on #313
This will land in m-c in [Bug 1307946](https://bugzilla.mozilla.org/show_bug.cgi?id=1307946)

[2016-10-05 19:37] #313 closed

[2016-10-05 19:38] linclark commented on #312
This will land in m-c in [Bug 1307947](https://bugzilla.mozilla.org/show_bug.cgi?id=1307947)

[2016-10-05 19:38] #312 closed

[2016-10-05 19:38] linclark commented on #311
This will land in m-c in [Bug 1307948](https://bugzilla.mozilla.org/show_bug.cgi?id=1307948)

[2016-10-05 19:38] #311 closed

[2016-10-05 19:39] linclark commented on #295
This will land in m-c in [Bug 1307949](https://bugzilla.mozilla.org/show_bug.cgi?id=1307949)

[2016-10-05 19:39] #295 closed

[2016-10-05 19:39] linclark commented on #292
This will land in m-c in [Bug 1307950](https://bugzilla.mozilla.org/show_bug.cgi?id=1307950)

[2016-10-05 19:39] #292 closed

[2016-10-05 19:40] linclark commented on #286
This will land in m-c in [Bug 1307951](https://bugzilla.mozilla.org/show_bug.cgi?id=1307951)

[2016-10-05 19:40] #286 closed

[2016-10-05 19:40] linclark commented on #285
This will land in m-c in [Bug 1307952](https://bugzilla.mozilla.org/show_bug.cgi?id=1307952)

[2016-10-05 19:40] #285 closed

[2016-10-05 19:41] linclark commented on #284
This will land in m-c in [Bug 1307953](https://bugzilla.mozilla.org/show_bug.cgi?id=1307953)

[2016-10-05 19:41] #284 closed

[2016-10-05 19:41] linclark commented on #269
This will land in m-c in [Bug 1307954](https://bugzilla.mozilla.org/show_bug.cgi?id=1307954)

[2016-10-05 19:41] #269 closed

[2016-10-05 19:41] linclark commented on #267
This will land in m-c in [Bug 1307955](https://bugzilla.mozilla.org/show_bug.cgi?id=1307955)

[2016-10-05 19:41] #267 closed